# Unsupervised discretization
Dataset: satimage

Updated at: 26 June 22

By: Sam

### About Dataset
NUMBER OF ATTRIBUTES: 36 (= 4 spectral bands x 9 pixels in neighbourhood) the pixels read out in sequence left-to-right and top-to-bottom. 

    - A1-A4: 4 top-left
    - A5-A8: 4 top middle
    - A9-A12: 4 top-right
    => central pixel are given by attributes 17,18,19 and 20

NUMBER OF EXAMPLES:

	- training set     4435
	- test set         2000
    
ATTRIBUTES: The attributes are numerical, in the range 0 to 255.
CLASS: 
	There are 6 decision classes: 1,2,3,4,5 and 7.

!!! NB. There are no examples with class 6 in this dataset-they have all been removed because of doubts about the 
	validity of this class.
    
!!! NB. DO NOT USE CROSS-VALIDATION WITH THIS DATASET !!!
- Just train and test only once with the above training and test sets.
- The data is given in random order and certain lines of data have been removed so you cannot reconstruct the original image from this dataset.

In [1]:
# Load library
import pandas as pd
import numpy as np
import time
import timeit

In [2]:
from sklearn.preprocessing import KBinsDiscretizer as kbins # also use for unsupervised

In [3]:
from feature_engine.discretisation import EqualFrequencyDiscretiser as efd
from feature_engine.discretisation import EqualWidthDiscretiser as ewd

In [4]:
# Load dataset
data = pd.read_csv('clean_satimage.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   int64
dtypes: int64(37)
memory usage: 1.8 MB

In [6]:
# Convert outcome to categorical
data['class'] = pd.Categorical(data['class'])

In [7]:
# get list of numeric attributes to discretize
num_col = data.select_dtypes(include=np.number).columns
num_col = num_col.tolist()

In [8]:
num_col

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15',
 'A16',
 'A17',
 'A18',
 'A19',
 'A20',
 'A21',
 'A22',
 'A23',
 'A24',
 'A25',
 'A26',
 'A27',
 'A28',
 'A29',
 'A30',
 'A31',
 'A32',
 'A33',
 'A34',
 'A35',
 'A36']

## Equal Width Discretization

In [9]:
# Define function: Inputs: dataset, number of parameters

def ewd_disc(data, k):
    ## set up the discretisation transformer
    ewd_disc = ewd(bins=k, variables=num_col, return_boundaries=False)
    '''
    Parameters
    ----------
    bins : int, default=10
        Desired number of equal width intervals / bins.

    variables : list
        The list of numerical variables to transform. If None, the
        discretiser will automatically select all numerical type variables.

    return_object : bool, default=False
        Whether the numbers in the discrete variable should be returned as
        numeric or as object. The decision should be made by the user based on
        whether they would like to proceed the engineering of the variable as
        if it was numerical or categorical.

    return_boundaries: bool, default=False
        whether the output should be the interval boundaries. If True, it returns
        the interval boundaries. If False, it returns integers.
    '''
    ## fit the transformer
    ewd_disc.fit(data)
    ## transform the data
    data_ewd = ewd_disc.transform(data)
    ## binner_dict contains the boundaries of the different bins: 
    # stores the interval limits identified for each variable
    ewd_disc.binner_dict_
    return data_ewd  # return dataset after discretization

### EWD - Scenario 1: k = 4

In [10]:
# Perform discretization
k = 4
start = time.time() # Starting  time
data_ewd1 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":",ewd_t) # Total time execution

Discretization time, EWD, k =  4 : 0.09081077575683594

In [11]:
# OUTPUT:
data_ewd1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A28,A29,A30,A31,A32,A33,A34,A35,A36,class
0,3,3,3,2,2,2,2,1,2,2,...,2,3,3,3,2,2,3,2,1,3
1,2,2,2,1,2,2,2,1,2,2,...,2,2,3,2,1,2,2,2,1,3
2,2,2,2,1,2,2,2,1,2,2,...,1,2,2,2,1,2,2,2,1,3
3,2,2,2,1,2,2,2,1,2,2,...,1,2,2,2,1,2,2,2,1,3
4,2,2,2,1,2,2,2,1,2,2,...,1,2,2,2,1,2,3,2,1,3

In [12]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd1.groupby(col)[col].count())

A1
A1
0    1036
1    2908
2    1641
3     850
Name: A1, dtype: int64
A2
A2
0     818
1    1979
2    2899
3     739
Name: A2, dtype: int64
A3
A3
0     535
1    2218
2    2859
3     823
Name: A3, dtype: int64
A4
A4
0    1040
1    3930
2    1121
3     344
Name: A4, dtype: int64
A5
A5
0    1058
1    2937
2    1617
3     823
Name: A5, dtype: int64
A6
A6
0     838
1    2002
2    2885
3     710
Name: A6, dtype: int64
A7
A7
0     370
1    2542
2    2944
3     579
Name: A7, dtype: int64
A8
A8
0     802
1    4175
2    1162
3     296
Name: A8, dtype: int64
A9
A9
0    1251
1    2891
2    1811
3     482
Name: A9, dtype: int64
A10
A10
0     738
1    1685
2    2743
3    1269
Name: A10, dtype: int64
A11
A11
0     383
1    2564
2    2931
3     557
Name: A11, dtype: int64
A12
A12
0     802
1    4195
2    1138
3     300
Name: A12, dtype: int64
A13
A13
0    1054
1    2922
2    1627
3     832
Name: A13, dtype: int64
A14
A14
0     818
1    2015
2    2867
3     735
Name: A14, dtype: int64
A15
A15
0     368
1    2534
2    2936
3     597
Name: A15, dtype: int64
A16
A16
0     740
1    3935
2    1413
3     347
Name: A16, dtype: int64
A17
A17
0    1246
1    2868
2    1811
3     510
Name: A17, dtype: int64
A18
A18
0     717
1    1697
2    2738
3    1283
Name: A18, dtype: int64
A19
A19
0     370
1    2552
2    2923
3     590
Name: A19, dtype: int64
A20
A20
0     808
1    4134
2    1192
3     301
Name: A20, dtype: int64
A21
A21
0    1074
1    3015
2    1570
3     776
Name: A21, dtype: int64
A22
A22
0     727
1    1709
2    2737
3    1262
Name: A22, dtype: int64
A23
A23
0     386
1    2565
2    2894
3     590
Name: A23, dtype: int64
A24
A24
0     812
1    4154
2    1170
3     299
Name: A24, dtype: int64
A25
A25
0    1057
1    2930
2    1643
3     805
Name: A25, dtype: int64
A26
A26
0     749
1    1953
2    2463
3    1270
Name: A26, dtype: int64
A27
A27
0     319
1    2225
2    2884
3    1007
Name: A27, dtype: int64
A28
A28
0     748
1    3924
2    1409
3     354
Name: A28, dtype: int64
A29
A29
0    1077
1    2975
2    1601
3     782
Name: A29, dtype: int64
A30
A30
0     717
1    1695
2    2756
3    1267
Name: A30, dtype: int64
A31
A31
0     384
1    2545
2    2916
3     590
Name: A31, dtype: int64
A32
A32
0     814
1    4128
2    1194
3     299
Name: A32, dtype: int64
A33
A33
0    1090
1    3011
2    1587
3     747
Name: A33, dtype: int64
A34
A34
0     723
1    1715
2    2753
3    1244
Name: A34, dtype: int64
A35
A35
0     389
1    2577
2    2884
3     585
Name: A35, dtype: int64
A36
A36
0     812
1    4141
2    1183
3     299
Name: A36, dtype: int64

### EWD - Scenario 2: k = 7

In [13]:
# Perform discretization
k = 7
start = time.time() # Starting  time
data_ewd2 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  7 : 0.10009288787841797

In [14]:
# OUTPUT:
data_ewd2.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A28,A29,A30,A31,A32,A33,A34,A35,A36,class
0,5,5,5,3,4,4,4,2,4,5,...,4,5,6,5,3,4,5,4,3,3
1,4,4,4,2,4,4,3,2,4,5,...,3,4,5,4,3,4,4,3,2,3
2,4,4,3,2,4,4,3,2,4,4,...,3,4,4,3,2,4,4,3,2,3
3,4,4,3,2,4,4,3,2,4,4,...,2,4,4,3,2,4,5,3,2,3
4,4,4,3,2,4,4,3,2,4,5,...,2,4,5,3,2,4,5,4,3,3

In [15]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd2.groupby(col)[col].count())

A1
A1
0     484
1     843
2    1293
3    1887
4     937
5     854
6     137
Name: A1, dtype: int64
A2
A2
0     526
1     425
2     939
3    1667
4    1557
5    1294
6      27
Name: A2, dtype: int64
A3
A3
0      41
1     725
2    1395
3    1272
4    1905
5     913
6     184
Name: A3, dtype: int64
A4
A4
0      66
1    1369
2    2167
3    2231
4     202
5     296
6     104
Name: A4, dtype: int64
A5
A5
0     489
1     861
2    1324
3    1877
4     920
5     838
6     126
Name: A5, dtype: int64
A6
A6
0     536
1     433
2     964
3    1658
4    1546
5    1281
6      17
Name: A6, dtype: int64
A7
A7
0      28
1     749
2    1410
3    1557
4    1675
5     942
6      74
Name: A7, dtype: int64
A8
A8
0      35
1    1218
2    2357
3    2221
4     223
5     285
6      96
Name: A8, dtype: int64
A9
A9
0     564
1     803
2    1854
3    1374
4     916
5     810
6     114
Name: A9, dtype: int64
A10
A10
0     536
1     385
2     799
3    1564
4    1419
5    1616
6     116
Name: A10, dtype: int64
A11
A11
0      26
1     762
2    1447
3    1550
4    1673
5     910
6      67
Name: A11, dtype: int64
A12
A12
0      33
1    1229
2    2386
3    2188
4     213
5     288
6      98
Name: A12, dtype: int64
A13
A13
0     490
1     852
2    1299
3    1887
4     936
5     831
6     140
Name: A13, dtype: int64
A14
A14
0     530
1     412
2     948
3    1691
4    1551
5    1278
6      25
Name: A14, dtype: int64
A15
A15
0      27
1     740
2    1387
3    1581
4    1653
5     972
6      75
Name: A15, dtype: int64
A16
A16
0      34
1    1089
2    2114
3    2509
4     285
5     299
6     105
Name: A16, dtype: int64
A17
A17
0     568
1     791
2    1823
3    1393
4     918
5     817
6     125
Name: A17, dtype: int64
A18
A18
0     536
1     364
2     796
3    1561
4    1394
5    1657
6     127
Name: A18, dtype: int64
A19
A19
0      29
1     757
2    1404
3    1554
4    1653
5     965
6      73
Name: A19, dtype: int64
A20
A20
0      36
1    1216
2    2349
3    2228
4     214
5     294
6      98
Name: A20, dtype: int64
A21
A21
0     509
1     868
2    1342
3    1902
4     900
5     797
6     117
Name: A21, dtype: int64
A22
A22
0     542
1     374
2     802
3    1589
4    1388
5    1623
6     117
Name: A22, dtype: int64
A23
A23
0      30
1     763
2    1436
3    1532
4    1651
5     956
6      67
Name: A23, dtype: int64
A24
A24
0      34
1    1233
2    2350
3    2215
4     216
5     287
6     100
Name: A24, dtype: int64
A25
A25
0     501
1     846
2    1328
3    1874
4     937
5     809
6     140
Name: A25, dtype: int64
A26
A26
0     531
1     352
2     766
3    1587
4    1432
5    1676
6      91
Name: A26, dtype: int64
A27
A27
0      19
1     633
2    1241
3    1481
4    1839
5    1041
6     181
Name: A27, dtype: int64
A28
A28
0      34
1    1082
2    2129
3    2505
4     277
5     304
6     104
Name: A28, dtype: int64
A29
A29
0     500
1     871
2    1328
3    1897
4     916
5     797
6     126
Name: A29, dtype: int64
A30
A30
0     534
1     363
2     784
3    1580
4    1414
5    1628
6     132
Name: A30, dtype: int64
A31
A31
0      28
1     760
2    1398
3    1557
4    1683
5     940
6      69
Name: A31, dtype: int64
A32
A32
0      37
1    1215
2    2353
3    2220
4     224
5     287
6      99
Name: A32, dtype: int64
A33
A33
0     501
1     882
2    1351
3    1910
4     902
5     772
6     117
Name: A33, dtype: int64
A34
A34
0     540
1     368
2     808
3    1586
4    1391
5    1626
6     116
Name: A34, dtype: int64
A35
A35
0      29
1     767
2    1415
3    1556
4    1676
5     926
6      66
Name: A35, dtype: int64
A36
A36
0      35
1    1235
2    2341
3    2226
4     212
5     286
6     100
Name: A36, dtype: int64

### EWD - Scenario 3: k = 10

In [16]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_ewd3 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  10 : 0.12206888198852539

In [17]:
# OUTPUT:
data_ewd3.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A28,A29,A30,A31,A32,A33,A34,A35,A36,class
0,8,7,7,5,6,6,5,3,6,7,...,5,7,9,8,5,6,7,6,4,3
1,6,6,6,3,6,6,5,4,6,7,...,5,6,7,6,4,6,6,5,3,3
2,6,6,5,4,6,6,5,3,6,6,...,4,6,6,5,3,6,6,5,3,3
3,6,6,5,3,6,6,5,3,6,6,...,3,6,6,5,3,6,7,5,3,3
4,6,6,5,3,6,6,5,3,6,7,...,3,6,7,5,3,6,7,6,4,3

In [18]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd3.groupby(col)[col].count())

A1
A1
0     247
1     539
2     541
3    1120
4    1497
5     692
6     751
7     648
8     376
9      24
Name: A1, dtype: int64
A2
A2
0     485
1     149
2     381
3     647
4    1135
5    1049
6    1268
7    1179
8     136
9       6
Name: A2, dtype: int64
A3
A3
0      13
1     194
2     805
3     811
4     930
5    1156
6    1053
7    1063
8     331
9      79
Name: A3, dtype: int64
A4
A4
0      30
1     382
2    1202
3    1620
4    1736
5     930
6     125
7     186
8     169
9      55
Name: A4, dtype: int64
A5
A5
0     259
1     545
2     546
3    1146
4    1499
5     681
6     736
7     644
8     356
9      23
Name: A5, dtype: int64
A6
A6
0     490
1     159
2     389
3     659
4    1143
5    1038
6    1259
7    1164
8     128
9       6
Name: A6, dtype: int64
A7
A7
0       8
1     149
2     767
3     997
4     991
5    1130
6    1307
7     882
8     179
9      25
Name: A7, dtype: int64
A8
A8
0       9
1     169
2    1287
3    1600
4    1912
5     920
6     135
7     198
8     180
9      25
Name: A8, dtype: int64
A9
A9
0     395
1     424
2     733
3     988
4    1602
5     577
6     734
7     629
8     334
9      19
Name: A9, dtype: int64
A10
A10
0     498
1     101
2     362
3     456
4    1006
5    1161
6    1033
7    1128
8     646
9      44
Name: A10, dtype: int64
A11
A11
0       9
1     153
2     776
3    1021
4     988
5    1138
6    1297
7     855
8     171
9      27
Name: A11, dtype: int64
A12
A12
0      10
1     165
2    1314
3    1608
4    1900
5     899
6     135
7     192
8     188
9      24
Name: A12, dtype: int64
A13
A13
0     244
1     562
2     536
3    1122
4    1512
5     678
6     749
7     629
8     379
9      24
Name: A13, dtype: int64
A14
A14
0     490
1     151
2     367
3     640
4    1185
5    1045
6    1254
7    1160
8     137
9       6
Name: A14, dtype: int64
A15
A15
0       8
1     148
2     742
3     993
4    1011
5    1108
6    1298
7     920
8     177
9      30
Name: A15, dtype: int64
A16
A16
0       8
1     171
2    1120
3    1654
4    1722
5    1207
6     140
7     189
8     172
9      52
Name: A16, dtype: int64
A17
A17
0     396
1     425
2     724
3     945
4    1624
5     590
6     728
7     624
8     359
9      20
Name: A17, dtype: int64
A18
A18
0     500
1      92
2     348
3     454
4    1020
5    1137
6    1016
7    1160
8     660
9      48
Name: A18, dtype: int64
A19
A19
0       8
1     156
2     758
3    1000
4    1000
5    1107
6    1292
7     909
8     179
9      26
Name: A19, dtype: int64
A20
A20
0       9
1     169
2    1296
3    1581
4    1887
5     952
6     131
7     199
8     188
9      23
Name: A20, dtype: int64
A21
A21
0     260
1     564
2     553
3    1155
4    1557
5     648
6     724
7     613
8     343
9      18
Name: A21, dtype: int64
A22
A22
0     505
1      97
2     354
3     461
4    1019
5    1158
6    1018
7    1138
8     643
9      42
Name: A22, dtype: int64
A23
A23
0       8
1     160
2     761
3    1034
4     988
5    1097
6    1285
7     905
8     171
9      26
Name: A23, dtype: int64
A24
A24
0      10
1     166
2    1328
3    1589
4    1873
5     925
6     134
7     199
8     186
9      25
Name: A24, dtype: int64
A25
A25
0     249
1     580
2     518
3    1135
4    1505
5     697
6     741
7     617
8     370
9      23
Name: A25, dtype: int64
A26
A26
0     498
1      87
2     356
3     405
4    1356
5     911
6     969
7    1136
8     686
9      31
Name: A26, dtype: int64
A27
A27
0       7
1     126
2     631
3     987
4     793
5    1205
6    1224
7    1048
8     339
9      75
Name: A27, dtype: int64
A28
A28
0       8
1     170
2    1115
3    1678
4    1701
5    1202
6     144
7     188
8     175
9      54
Name: A28, dtype: int64
A29
A29
0     252
1     584
2     535
3    1136
4    1545
5     674
6     724
7     615
8     351
9      19
Name: A29, dtype: int64
A30
A30
0     497
1      90
2     352
3     442
4    1031
5    1157
6    1017
7    1146
8     656
9      47
Name: A30, dtype: int64
A31
A31
0       9
1     156
2     751
3    1007
4    1006
5    1093
6    1311
7     899
8     178
9      25
Name: A31, dtype: int64
A32
A32
0      10
1     168
2    1282
3    1597
4    1885
5     946
6     139
7     196
8     188
9      24
Name: A32, dtype: int64
A33
A33
0     259
1     586
2     538
3    1149
4    1569
5     668
6     717
7     605
8     326
9      18
Name: A33, dtype: int64
A34
A34
0     501
1      95
2     353
3     456
4    1033
5    1176
6     989
7    1168
8     623
9      41
Name: A34, dtype: int64
A35
A35
0       8
1     156
2     763
3    1021
4    1018
5    1079
6    1305
7     893
8     166
9      26
Name: A35, dtype: int64
A36
A36
0      10
1     167
2    1311
3    1589
4    1876
5     941
6     138
7     190
8     188
9      25
Name: A36, dtype: int64

## Equal Frequency Discretization - EFD
- Reference: https://nbviewer.org/github/feature-engine/feature-engine-examples/blob/main/discretisation/EqualFrequencyDiscretiser.ipynb
- Parameter:
- q : int, default=10
    Desired number of equal frequency intervals / bins. In other words the
    number of quantiles in which the variables should be divided.

- variables : list
    The list of numerical variables that will be discretised. If None, the
    EqualFrequencyDiscretiser() will select all numerical variables.

- return_object : bool, default=False
    Whether the numbers in the discrete variable should be returned as
    numeric or as object. The decision is made by the user based on
    whether they would like to proceed the engineering of the variable as
    if it was numerical or categorical.

- return_boundaries: bool, default=False
    whether the output should be the interval boundaries. If True, it returns
    the interval boundaries. If False, it returns integers.

In [19]:
def efd_disc(data, k):
    ## set up the discretisation transformer
    efd_disc = efd(q=k, variables=num_col)
    ## fit the transformer
    efd_disc.fit(data)
    ## transform the data
    data_efd = efd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    efd_disc.binner_dict_
    return data_efd

### Define function efd_disc, inputs include dataset, number of intervals (k)

### EFD - Scenario 1: k = 4

In [20]:
# Perform discretization
k = 4
start = time.time() # Starting time
data_efd1 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":", efd_t) # Total time execution

Discretization time, EFD, k =  4 : 0.11689996719360352

In [21]:
## OUTPUT: Check number of instance in each interval 
for col in num_col:
    print(col)
    print(data_efd1.groupby(col)[col].count())

A1
A1
0    1699
1    1725
2    1502
3    1509
Name: A1, dtype: int64
A2
A2
0    1662
1    1706
2    1663
3    1404
Name: A2, dtype: int64
A3
A3
0    1624
1    1714
2    1624
3    1473
Name: A3, dtype: int64
A4
A4
0    1614
1    1620
2    1736
3    1465
Name: A4, dtype: int64
A5
A5
0    1736
1    1751
2    1476
3    1472
Name: A5, dtype: int64
A6
A6
0    1697
1    1540
2    1815
3    1383
Name: A6, dtype: int64
A7
A7
0    1654
1    1702
2    1621
3    1458
Name: A7, dtype: int64
A8
A8
0    1648
1    1598
2    1731
3    1458
Name: A8, dtype: int64
A9
A9
0    1750
1    1471
2    1633
3    1581
Name: A9, dtype: int64
A10
A10
0    1720
1    1564
2    1555
3    1596
Name: A10, dtype: int64
A11
A11
0    1688
1    1564
2    1754
3    1429
Name: A11, dtype: int64
A12
A12
0    1629
1    1652
2    1716
3    1438
Name: A12, dtype: int64
A13
A13
0    1715
1    1720
2    1514
3    1486
Name: A13, dtype: int64
A14
A14
0    1648
1    1579
2    1816
3    1392
Name: A14, dtype: int64
A15
A15
0    1622
1    1734
2    1591
3    1488
Name: A15, dtype: int64
A16
A16
0    1617
1    1620
2    1705
3    1493
Name: A16, dtype: int64
A17
A17
0    1747
1    1737
2    1357
3    1594
Name: A17, dtype: int64
A18
A18
0    1696
1    1561
2    1806
3    1372
Name: A18, dtype: int64
A19
A19
0    1649
1    1571
2    1733
3    1482
Name: A19, dtype: int64
A20
A20
0    1646
1    1592
2    1704
3    1493
Name: A20, dtype: int64
A21
A21
0    1755
1    1475
2    1651
3    1554
Name: A21, dtype: int64
A22
A22
0    1718
1    1515
2    1851
3    1351
Name: A22, dtype: int64
A23
A23
0    1683
1    1571
2    1730
3    1451
Name: A23, dtype: int64
A24
A24
0    1631
1    1637
2    1698
3    1469
Name: A24, dtype: int64
A25
A25
0    1716
1    1744
2    1373
3    1602
Name: A25, dtype: int64
A26
A26
0    1649
1    1587
2    1826
3    1373
Name: A26, dtype: int64
A27
A27
0    1631
1    1597
2    1745
3    1462
Name: A27, dtype: int64
A28
A28
0    1610
1    1635
2    1704
3    1486
Name: A28, dtype: int64
A29
A29
0    1745
1    1752
2    1373
3    1565
Name: A29, dtype: int64
A30
A30
0    1681
1    1580
2    1803
3    1371
Name: A30, dtype: int64
A31
A31
0    1668
1    1562
2    1741
3    1464
Name: A31, dtype: int64
A32
A32
0    1630
1    1605
2    1707
3    1493
Name: A32, dtype: int64
A33
A33
0    1770
1    1476
2    1664
3    1525
Name: A33, dtype: int64
A34
A34
0    1716
1    1513
2    1860
3    1346
Name: A34, dtype: int64
A35
A35
0    1688
1    1571
2    1731
3    1445
Name: A35, dtype: int64
A36
A36
0    1615
1    1630
2    1708
3    1482
Name: A36, dtype: int64

### EFD - Scenario 2: k = 7

In [22]:
# Perform discretization
k = 7
start = time.time() # Starting time
data_efd2 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":",efd_t) # Total time execution

Discretization time, EFD, k =  7 : 0.11752176284790039

In [23]:
## OUTPUT
data_efd2.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   category
dtypes: category(1), int64(36)
memory usage: 1.8 MB
A1
A1
0     972
1    1178
2     965
3     829
4     692
5     883
6     916
Name: A1, dtype: int64
A2
A2
0    928
1    962
2    907
3    972
4    856
5    915
6    895
Name: A2, dtype: int64
A3
A3
0    1012
1     884
2     997
3     815
4     917
5     987
6     823
Name: A3, dtype: int64
A4
A4
0     927
1    1058
2     976
3     833
4     831
5     984
6     826
Name: A4, dtype: int64
A5
A5
0     990
1    1203
2     984
3     818
4     681
5     871
6     888
Name: A5, dtype: int64
A6
A6
0    947
1    986
2    907
3    963
4    857
5    906
6    869
Name: A6, dtype: int64
A7
A7
0    924
1    927
2    915
3    978
4    906
5    969
6    816
Name: A7, dtype: int64
A8
A8
0     936
1     925
2    1121
3     827
4     832
5     974
6     820
Name: A8, dtype: int64
A9
A9
0    1004
1    1226
2     991
3     498
4    1000
5     867
6     849
Name: A9, dtype: int64
A10
A10
0     921
1    1038
2     927
3     971
4     760
5     976
6     842
Name: A10, dtype: int64
A11
A11
0    938
1    949
2    916
3    982
4    895
5    970
6    785
Name: A11, dtype: int64
A12
A12
0     937
1     958
2    1113
3     835
4     823
5     949
6     820
Name: A12, dtype: int64
A13
A13
0     982
1    1186
2     971
3     837
4     678
5     888
6     893
Name: A13, dtype: int64
A14
A14
0    923
1    967
2    943
3    969
4    834
5    908
6    891
Name: A14, dtype: int64
A15
A15
0    1007
1     884
2    1011
3     833
4     869
5     994
6     837
Name: A15, dtype: int64
A16
A16
0     928
1    1053
2     972
3     845
4     877
5     930
6     830
Name: A16, dtype: int64
A17
A17
0    1005
1    1189
2     988
3     850
4     672
5     872
6     859
Name: A17, dtype: int64
A18
A18
0    940
1    995
2    932
3    947
4    837
5    915
6    869
Name: A18, dtype: int64
A19
A19
0    922
1    931
2    928
3    963
4    866
5    999
6    826
Name: A19, dtype: int64
A20
A20
0     930
1     932
2    1104
3     831
4     877
5     931
6     830
Name: A20, dtype: int64
A21
A21
0    1002
1    1228
2    1000
3     500
4     891
5     900
6     914
Name: A21, dtype: int64
A22
A22
0     956
1     998
2     830
3    1070
4     758
5     976
6     847
Name: A22, dtype: int64
A23
A23
0    929
1    959
2    928
3    945
4    888
5    965
6    821
Name: A23, dtype: int64
A24
A24
0     942
1     953
2    1115
3     796
4     814
5     989
6     826
Name: A24, dtype: int64
A25
A25
0     991
1    1193
2     990
3     813
4     697
5     880
6     871
Name: A25, dtype: int64
A26
A26
0    941
1    943
2    939
3    999
4    846
5    884
6    883
Name: A26, dtype: int64
A27
A27
0    997
1    896
2    872
3    984
4    873
5    995
6    818
Name: A27, dtype: int64
A28
A28
0     935
1    1044
2     992
3     829
4     872
5     934
6     829
Name: A28, dtype: int64
A29
A29
0    1007
1    1207
2     993
3     491
4     898
5     994
6     845
Name: A29, dtype: int64
A30
A30
0    939
1    982
2    956
3    961
4    837
5    888
6    872
Name: A30, dtype: int64
A31
A31
0    1024
1     825
2     931
3     963
4     872
5    1001
6     819
Name: A31, dtype: int64
A32
A32
0     945
1     908
2    1118
3     820
4     872
5     949
6     823
Name: A32, dtype: int64
A33
A33
0    1018
1    1218
2    1010
3     494
4     904
5     902
6     889
Name: A33, dtype: int64
A34
A34
0     949
1    1007
2     812
3    1108
4     727
5     992
6     840
Name: A34, dtype: int64
A35
A35
0    927
1    949
2    953
3    938
4    873
5    985
6    810
Name: A35, dtype: int64
A36
A36
0     949
1     937
2    1106
3     810
4     802
5    1010
6     821
Name: A36, dtype: int64

### Scenario 3: k = 10

In [24]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_efd3 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":",efd_t) # Total time execution

Discretization time, EFD, k =  10 : 0.11288309097290039

In [25]:
## OUTPUT
data_efd3.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   category
dtypes: category(1), int64(36)
memory usage: 1.8 MB
A1
A1
0    660
1    667
2    823
3    470
4    804
5    520
6    563
7    880
8    510
9    538
Name: A1, dtype: int64
A2
A2
0    683
1    611
2    907
3    469
4    698
5    550
6    624
7    775
8    647
9    471
Name: A2, dtype: int64
A3
A3
0    656
1    687
2    670
3    740
4    585
5    571
6    716
7    589
8    639
9    582
Name: A3, dtype: int64
A4
A4
0    677
1    618
2    690
3    699
4    550
5    659
6    732
7    579
8    602
9    629
Name: A4, dtype: int64
A5
A5
0    673
1    677
2    843
3    481
4    813
5    508
6    556
7    619
8    751
9    514
Name: A5, dtype: int64
A6
A6
0    649
1    679
2    605
3    784
4    520
5    641
6    702
7    761
8    649
9    445
Name: A6, dtype: int64
A7
A7
0    668
1    714
2    658
3    726
4    590
5    595
6    570
7    703
8    632
9    579
Name: A7, dtype: int64
A8
A8
0    673
1    648
2    692
3    690
4    543
5    661
6    734
7    563
8    602
9    629
Name: A8, dtype: int64
A9
A9
0    682
1    685
2    863
3    487
4    504
5    831
6    543
7    611
8    747
9    482
Name: A9, dtype: int64
A10
A10
0    662
1    692
2    605
3    796
4    529
5    644
6    689
7    549
8    847
9    422
Name: A10, dtype: int64
A11
A11
0    679
1    718
2    562
3    636
4    657
5    744
6    557
7    702
8    553
9    627
Name: A11, dtype: int64
A12
A12
0    678
1    656
2    707
3    681
4    559
5    652
6    733
7    553
8    593
9    623
Name: A12, dtype: int64
A13
A13
0    672
1    670
2    826
3    473
4    794
5    541
6    552
7    634
8    730
9    543
Name: A13, dtype: int64
A14
A14
0    687
1    663
2    873
3    485
4    519
5    651
6    672
7    766
8    658
9    461
Name: A14, dtype: int64
A15
A15
0    658
1    681
2    680
3    738
4    599
5    573
6    675
7    591
8    643
9    597
Name: A15, dtype: int64
A16
A16
0    678
1    621
2    682
3    694
4    562
5    652
6    698
7    587
8    627
9    634
Name: A16, dtype: int64
A17
A17
0    679
1    680
2    835
3    480
4    810
5    548
6    543
7    616
8    734
9    510
Name: A17, dtype: int64
A18
A18
0    652
1    670
2    613
3    813
4    509
5    629
6    681
7    585
8    844
9    439
Name: A18, dtype: int64
A19
A19
0    671
1    695
2    684
3    731
4    439
5    730
6    660
7    595
8    640
9    590
Name: A19, dtype: int64
A20
A20
0    690
1    632
2    679
3    692
4    545
5    651
6    704
7    577
8    633
9    632
Name: A20, dtype: int64
A21
A21
0    686
1    691
2    853
3    489
4    511
5    859
6    532
7    538
8    786
9    490
Name: A21, dtype: int64
A22
A22
0    658
1    685
2    611
3    830
4    449
5    696
6    683
7    561
8    844
9    418
Name: A22, dtype: int64
A23
A23
0    683
1    704
2    576
3    633
4    658
5    717
6    563
7    685
8    626
9    590
Name: A23, dtype: int64
A24
A24
0    684
1    657
2    691
3    703
4    533
5    632
6    720
7    558
8    630
9    627
Name: A24, dtype: int64
A25
A25
0    686
1    661
2    837
3    491
4    785
5    527
6    562
7    639
8    712
9    535
Name: A25, dtype: int64
A26
A26
0    644
1    702
2    873
3    483
4    534
5    661
6    685
7    583
8    826
9    444
Name: A26, dtype: int64
A27
A27
0    652
1    687
2    685
3    741
4    463
5    727
6    557
7    701
8    642
9    580
Name: A27, dtype: int64
A28
A28
0    685
1    608
2    686
3    703
4    563
5    651
6    691
7    589
8    624
9    635
Name: A28, dtype: int64
A29
A29
0    685
1    686
2    843
3    485
4    798
5    555
6    544
7    552
8    779
9    508
Name: A29, dtype: int64
A30
A30
0    647
1    661
2    953
3    492
4    508
5    651
6    674
7    582
8    835
9    432
Name: A30, dtype: int64
A31
A31
0    675
1    694
2    679
3    732
4    450
5    713
6    565
7    702
8    635
9    590
Name: A31, dtype: int64
A32
A32
0    689
1    625
2    682
3    697
4    542
5    649
6    699
7    591
8    625
9    636
Name: A32, dtype: int64
A33
A33
0    693
1    690
2    853
3    498
4    512
5    855
6    543
7    546
8    765
9    480
Name: A33, dtype: int64
A34
A34
0    658
1    672
2    626
3    812
4    461
5    647
6    727
7    588
8    836
9    408
Name: A34, dtype: int64
A35
A35
0    680
1    718
2    550
3    655
4    656
5    710
6    558
7    706
8    617
9    585
Name: A35, dtype: int64
A36
A36
0    686
1    654
2    684
3    690
4    531
5    653
6    706
7    580
8    624
9    627
Name: A36, dtype: int64

## Fixed Frequency Discretization - FFD

### Define function ffd_disc: modify input of function efd
Input include dataset, interval frequency (m)

In [26]:
def ffd_disc(data, m): # 
    n = len(data)
    ## set up the discretisation transformer
    ffd_disc = efd(q=round(n/m), variables=num_col) # number of bins = n/m
    ## fit the transformer
    ffd_disc.fit(data)
    ## transform the data
    data_ffd = ffd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    ffd_disc.binner_dict_
    return data_ffd

### FFD - Scenario 1: m = 10

In [27]:
# Perform discretization
m = 10
start = time.time() # Starting time
data_ffd1 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD,  m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD,  m =  10 : 0.3172290325164795

In [28]:
## OUTPUT
data_ffd1.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd1.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   category
dtypes: category(1), int64(36)
memory usage: 1.8 MB
A1
A1
0      22
1      32
2      47
3     146
4     138
5      63
6      36
7      62
8     114
10     45
11     81
12    186
13     64
14    167
15    124
16    189
17    183
19    451
20    297
21    173
22    495
23    309
24    185
25    335
26     85
27    131
28    176
30    171
31    129
33    134
34    156
36    138
37     73
38    250
39     57
40     75
41     66
43    312
44     65
45     73
47    172
48     91
49     23
50     30
51     60
52      8
53     13
54      3
Name: A1, dtype: int64
A2
A2
0      71
1      16
2      92
3      86
4     133
     ...
72     22
73      9
74     14
75      7
76      6
Name: A2, Length: 74, dtype: int64
A3
A3
0     13
1      7
2     14
3      7
4     16
      ..
68    15
69    14
70     7
71    16
72     1
Name: A3, Length: 69, dtype: int64
A4
A4
0     14
1     10
2      6
3     13
4     10
      ..
86    14
87    16
89    18
90     2
91    10
Name: A4, Length: 89, dtype: int64
A5
A5
0      21
1      36
2      47
3     155
4     131
6      62
7      37
8      66
9     118
10     41
11     90
12    186
14     68
15    174
16    118
17    185
18    201
19    457
20    303
21    178
22    503
23    310
25    177
26    331
27     84
28    128
30    171
31    173
32    125
34    139
35    148
36    136
37     71
38    242
39     59
40     76
41     65
42    309
43     67
44     68
45    170
46     83
47     21
48     29
49     53
50      7
51     13
52      3
Name: A5, dtype: int64
A6
A6
0      63
1      15
2      91
3      89
4     142
     ...
77     16
79     24
80      9
81      7
82     10
Name: A6, Length: 73, dtype: int64
A7
A7
0     13
1      7
2     14
3      8
4     18
      ..
67    14
68     9
69     6
70    18
71     1
Name: A7, Length: 69, dtype: int64
A8
A8
0     15
1      8
2     12
3      6
4     10
      ..
92    13
93     6
94    12
95     7
96     6
Name: A8, Length: 90, dtype: int64
A9
A9
0      23
1      35
2      48
3     152
4     137
5      66
6      38
7      65
8     118
9      45
10     92
11    185
12     67
13    180
14    116
15    185
16    198
17    480
18    310
19    177
20    504
21    312
22    186
23    333
24     90
25    119
26    170
27    164
28    124
29    135
30    146
31    132
32     74
34    247
35     58
36     75
37     63
38    304
39     64
40     65
41    157
42     82
43     21
44     27
45     47
46     17
47      2
Name: A9, dtype: int64
A10
A10
0     10
1     57
2     15
3     91
4     88
      ..
76    12
77    23
78     9
79     2
80    10
Name: A10, Length: 75, dtype: int64
A11
A11
0     13
1     13
2      6
3     22
4     58
      ..
69    12
70     6
71    13
72    12
73     2
Name: A11, Length: 68, dtype: int64
A12
A12
0      10
1      12
2      11
3       9
4      10
       ..
96     10
97     16
99     17
100     8
101     5
Name: A12, Length: 89, dtype: int64
A13
A13
0      22
1      33
2      46
3     143
4     137
5      66
6      43
8      66
9     116
10     49
11     85
12    176
13     72
14    169
15    119
16    185
17    188
18    453
20    296
21    177
22    498
23    296
24    183
25    358
26     82
27    133
28    176
29    161
30    126
31    148
32    147
33    139
34     74
35    241
36     61
37     78
38     61
39    289
40     64
41     76
42    168
43     95
45     22
46     32
47     62
48      9
49     12
50      3
Name: A13, dtype: int64
A14
A14
0      68
1      16
2      93
3      89
4     136
     ...
76     22
77      8
78      6
79     13
80      6
Name: A14, Length: 74, dtype: int64
A15
A15
0     13
1     14
2      5
3     24
4     52
      ..
68    12
69     6
70    15
71    13
72     2
Name: A15, Length: 68, dtype: int64
A16
A16
0     14
1      9
2     11
3      8
4      9
      ..
93    12
94    15
95    15
96     8
97     5
Name: A16, Length: 89, dtype: int64
A17
A17
0      22
1      33
2      50
3     153
4     138
5      65
6      42
7      65
8     111
9      54
10     88
11    184
12     68
13    173
14    113
16    186
17    202
18    447
19    296
20    184
21    508
22    302
23    190
24    358
25     82
26    126
27    177
28    158
29    129
30    137
31    143
32    134
33     73
34    241
35     61
36     83
37     60
38    289
40     64
41     67
42    159
44     95
45     23
46     29
47     53
49     18
50      2
Name: A17, dtype: int64
A18
A18
0      67
1      15
2      95
3      93
5     141
     ...
77     15
78     24
79      8
80      8
81      8
Name: A18, Length: 73, dtype: int64
A19
A19
0     13
1      7
2     15
3      7
4     17
      ..
70    11
71     8
72     7
73    18
74     1
Name: A19, Length: 69, dtype: int64
A20
A20
0     15
1     10
2      6
3     13
4      9
      ..
92    14
93    15
94    17
95     2
96    10
Name: A20, Length: 87, dtype: int64
A21
A21
0      23
1      34
2      51
3     152
5     139
6      65
7      45
8      66
9     111
10     48
11     90
12    178
13     72
14    182
15    121
16    190
17    188
18    475
19    302
20    187
21    511
22    315
23    185
24    359
25     82
26    127
27    162
28    161
29    116
30    144
31    136
32    142
33     70
34    232
35     60
36     79
37     59
38    286
40     63
41     66
42    155
43     89
44     22
45     25
47     52
48     17
49      1
Name: A21, dtype: int64
A22
A22
0      72
1      16
2      94
3      88
5     141
     ...
71     13
72     15
73     22
75     10
76     10
Name: A22, Length: 72, dtype: int64
A23
A23
0     13
1      7
2     10
3     13
4     15
      ..
71     9
72     7
73     6
74    18
75     2
Name: A23, Length: 69, dtype: int64
A24
A24
0     10
1     14
2     10
3      9
4      9
      ..
94    16
95     6
96    11
97     8
98     6
Name: A24, Length: 89, dtype: int64
A25
A25
0      22
1      33
2      48
3     146
4     149
5      61
6      42
7      72
8     113
9      49
10     94
11    162
12     66
13    176
14    114
15    186
16    183
17    468
18    298
19    193
20    499
21    286
22    192
23    335
25     87
26    140
27    186
28    149
29    135
30    149
31    140
32    140
33     75
34    237
36     61
37     78
38     66
39    270
40     63
41     79
42    157
43     96
45     26
46     32
47     59
48     10
49     11
50      2
Name: A25, dtype: int64
A26
A26
0      71
1      17
2      90
3      91
4     141
     ...
80     25
81      7
82      6
83     12
84      6
Name: A26, Length: 74, dtype: int64
A27
A27
0     12
1     15
2      6
3      7
4     17
      ..
69    13
70     8
71    14
72    14
73     1
Name: A27, Length: 69, dtype: int64
A28
A28
0     13
1     10
2     11
3      9
4     10
      ..
87    12
88    16
89    16
90     8
91     5
Name: A28, Length: 87, dtype: int64
A29
A29
0      21
1      34
2      49
3     148
4     144
5      61
6      43
8      73
9     112
10     51
11    100
12    171
13     70
14    181
15    113
16    185
17    189
18    469
19    293
20    192
21    508
22    290
24    201
25    354
26     87
27    134
28    177
29    146
31    130
33    144
34    139
35    139
36     76
37    226
38     62
39     78
40     63
41    274
42     63
43     75
45    152
46     92
47     25
48     30
49     52
50      9
51     10
Name: A29, dtype: int64
A30
A30
0      69
1      17
2      92
3      94
4     141
     ...
73     20
74     22
75      8
76     10
77      7
Name: A30, Length: 74, dtype: int64
A31
A31
0     14
1      6
2     12
3     26
4     57
      ..
68    11
69     7
70     6
71    18
72     1
Name: A31, Length: 68, dtype: int64
A32
A32
0     10
1     15
2      6
3     14
4      8
      ..
87    13
88    17
89    17
90     5
91     7
Name: A32, Length: 86, dtype: int64
A33
A33
0      19
1      37
2      51
3     152
4     139
5      59
6      44
7      74
8     118
9      50
10    102
11    173
12     72
13    182
14    111
15    198
16    189
17    466
18    296
19    202
20    512
21    301
23    193
24    361
25     87
26    135
27    179
28    142
29    125
30    141
31    139
32    141
33     73
34    223
35     60
36     79
38     63
39    267
41     65
42     71
43    142
44     85
45     23
46     28
47     48
48      8
49     10
Name: A33, dtype: int64
A34
A34
0      69
1      18
2      93
4      94
5     140
     ...
78     12
79     17
80     21
82     11
83      9
Name: A34, Length: 71, dtype: int64
A35
A35
0     13
1      7
2     13
3      7
4     19
      ..
71     9
72     7
73     6
74    18
75     2
Name: A35, Length: 69, dtype: int64
A36
A36
0     10
1     14
2      6
3     14
4     10
      ..
89    10
90    16
92    15
93     8
94     7
Name: A36, Length: 89, dtype: int64

### FFD - Scenario 1: m = 30

In [29]:
# Perform discretization
m = 30
start = time.time() # Starting time
data_ffd2 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, EFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, EFD, m =  30 : 0.20836710929870605

In [30]:
## OUTPUT
data_ffd2.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   category
dtypes: category(1), int64(36)
memory usage: 1.8 MB
A1
A1
0      54
1      47
2     146
3     138
4      63
5      36
6      62
7     114
8      45
9      81
10    186
11     64
12    167
14    124
15    189
16    183
17    451
18    297
19    173
20    495
21    309
22    185
23    335
24     85
26    131
27    176
28    171
29    129
30    134
31    156
32    138
33     73
34    250
35     57
36     75
37     66
38    312
39     65
40     73
41    172
42     91
43     23
44     30
45     60
46     24
Name: A1, dtype: int64
A2
A2
0      71
1     108
2      86
3     133
4      87
     ...
62     91
63     55
64     29
65     31
66     27
Name: A2, Length: 65, dtype: int64
A3
A3
0     34
1     75
2     23
3     22
4     53
      ..
60    40
61    17
62    26
63    22
64    31
Name: A3, Length: 61, dtype: int64
A4
A4
0     36
1     30
2     26
3     85
4     76
      ..
64    22
65    34
66    10
67    30
68    30
Name: A4, Length: 67, dtype: int64
A5
A5
0      57
1      47
2     155
3     131
4      62
5      37
6      66
7     118
8      41
9      90
10    186
11     68
12    174
13    118
14    185
15    201
16    457
17    303
19    178
20    503
21    310
22    177
23    331
24     84
25    128
26    171
27    173
28    125
29    139
30    148
31    136
32     71
33    242
35     59
36     76
37     65
38    309
39     67
40     68
41    170
42     83
43     21
44     29
45     53
46     23
Name: A5, dtype: int64
A6
A6
0      63
1     106
2      89
3     142
4      90
     ...
59     87
60     54
61     30
62     24
63     26
Name: A6, Length: 64, dtype: int64
A7
A7
0     34
1     80
2     21
3     22
4     57
      ..
59    14
60    42
61    26
62    23
63    25
Name: A7, Length: 61, dtype: int64
A8
A8
0     35
1     30
2     30
3     83
4     77
      ..
61    21
62    35
63    12
64    27
65    31
Name: A8, Length: 66, dtype: int64
A9
A9
0      58
1      48
2     152
3     137
4      66
5      38
6      65
7     118
8      45
9      92
10    185
11     67
12    180
13    116
14    185
15    198
16    480
17    310
18    177
19    504
20    312
21    186
22    333
23     90
24    119
25    170
26    164
27    124
28    135
29    146
30    132
31     74
32    247
33     58
34     75
35     63
36    304
38     64
39     65
40    157
41     82
42     48
43     47
44     19
Name: A9, dtype: int64
A10
A10
0      67
1     106
2      88
3     144
4      17
     ...
64     80
65     48
66     12
67     35
68     21
Name: A10, Length: 66, dtype: int64
A11
A11
0     32
1     80
2     22
3     28
4     62
      ..
59    15
60    23
61    40
62    18
63    27
Name: A11, Length: 61, dtype: int64
A12
A12
0     33
1     36
2     28
3     78
4     72
      ..
65    20
66    34
67    10
68    31
69    30
Name: A12, Length: 67, dtype: int64
A13
A13
0      55
1      46
2     143
3     137
4      66
5      43
6      66
7     116
8      49
9      85
10    176
11     72
12    169
13    119
14    185
15    188
16    453
17    296
18    177
19    498
20    296
21    183
22    358
23     82
24    133
25    176
26    161
27    126
28    148
29    147
30    139
31     74
32    241
33     61
34     78
35     61
36    289
37     64
38     76
39    168
40     95
41     22
42     32
43     62
44     24
Name: A13, dtype: int64
A14
A14
0      68
1     109
2      89
3     136
4      88
     ...
60     92
61     57
62     31
63     30
64     25
Name: A14, Length: 65, dtype: int64
A15
A15
0     32
1     76
2     22
3     26
4     55
      ..
57    13
58    43
59    27
60    18
61    30
Name: A15, Length: 61, dtype: int64
A16
A16
0     34
1     33
2     28
3     84
4     75
      ..
65    19
66    39
67    11
68    27
69    28
Name: A16, Length: 68, dtype: int64
A17
A17
0      55
1      50
2     153
3     138
4      65
5      42
6      65
7     111
8      54
9      88
10    184
11     68
12    173
13    113
14    186
15    202
16    447
17    296
18    184
19    508
20    302
21    190
22    358
23     82
24    126
26    177
27    158
28    129
29    137
31    143
32    134
33     73
34    241
35     61
36     83
37     60
38    289
39     64
40     67
41    159
42     95
43     23
44     29
45     53
46     20
Name: A17, dtype: int64
A18
A18
0      67
1     110
2      93
3     141
4      17
     ...
61     86
62     51
63     28
64     24
65     24
Name: A18, Length: 64, dtype: int64
A19
A19
0     35
1     82
2     20
3     27
4     57
      ..
57    17
58    22
59    46
60    19
61    26
Name: A19, Length: 61, dtype: int64
A20
A20
0     31
1     37
2     29
3     81
4     79
      ..
66    19
67    35
68    11
69    29
70    29
Name: A20, Length: 65, dtype: int64
A21
A21
0      57
1      51
2     152
3     139
4      65
5      45
6      66
7     111
8      48
9      90
10    178
11     72
12    182
13    121
14    190
15    188
16    475
17    302
18    187
19    511
20    315
21    185
22    359
24     82
25    127
26    162
27    161
28    116
29    144
30    136
31    142
32     70
33    232
34     60
35     79
36     59
37    286
38     63
39     66
41    155
42     89
43     47
44     52
45     18
Name: A21, dtype: int64
A22
A22
0      72
1     110
2      88
3     141
4      17
     ...
62     80
63     47
64     13
65     37
66     20
Name: A22, Length: 65, dtype: int64
A23
A23
0     36
1     80
2     22
3     30
4     62
      ..
61    16
62    25
63    42
64    16
65    26
Name: A23, Length: 61, dtype: int64
A24
A24
0     34
1     34
2     27
3     81
4     79
      ..
64    19
65    34
66    11
67    30
68    31
Name: A24, Length: 66, dtype: int64
A25
A25
0      55
1      48
2     146
3     149
4      61
5      42
6      72
7     113
8      49
9      94
10    162
11     66
12    176
14    114
15    186
16    183
17    468
18    298
19    193
20    499
21    286
22    192
23    335
24     87
25    140
26    186
27    149
28    135
29    149
30    140
31    140
32     75
33    237
34     61
35     78
36     66
37    270
38     63
39     79
40    157
41     96
42     26
43     32
44     59
45     23
Name: A25, dtype: int64
A26
A26
0      71
1     107
2      91
3     141
4      16
     ...
59     85
60     51
62     35
63     25
64     31
Name: A26, Length: 64, dtype: int64
A27
A27
0     33
1     76
2     24
3     28
4     52
      ..
56    15
57    41
58    25
59    21
60    29
Name: A27, Length: 61, dtype: int64
A28
A28
0     34
1     34
2     28
3     82
4     73
      ..
64    19
65    37
66    10
67    28
68    29
Name: A28, Length: 67, dtype: int64
A29
A29
0      55
1      49
2     148
3     144
4      61
5      43
6      73
7     112
8      51
9     100
10    171
11     70
12    181
13    113
14    185
15    189
16    469
17    293
18    192
19    508
20    290
21    201
22    354
23     87
24    134
25    177
27    146
28    130
29    144
30    139
31    139
32     76
33    226
34     62
35     78
36     63
38    274
39     63
40     75
41    152
42     92
43     25
44     30
45     52
46     19
Name: A29, dtype: int64
A30
A30
0      69
1     109
2      94
3     141
4      16
     ...
60     87
61     50
62     35
63     22
64     25
Name: A30, Length: 64, dtype: int64
A31
A31
0     32
1     83
2     22
3     28
4     57
      ..
56    16
57    25
58    44
59    18
60    25
Name: A31, Length: 61, dtype: int64
A32
A32
0     31
1     38
2     30
3     79
4     76
      ..
64    18
65    37
66    11
67    30
68    29
Name: A32, Length: 67, dtype: int64
A33
A33
0      56
1      51
2     152
3     139
4      59
5      44
6      74
7     118
8      50
9     102
10    173
11     72
12    182
13    111
14    198
15    189
16    466
17    296
18    202
19    512
20    301
21    193
22    361
23     87
24    135
25    179
26    142
27    125
28    141
29    139
30    141
31     73
32    223
33     60
34     79
35     63
36    267
37     65
38     71
39    142
40     85
41     51
42     48
43     18
Name: A33, dtype: int64
A34
A34
0      69
1     111
2      94
3     140
4      16
     ...
62     81
63     46
64     12
65     38
66     20
Name: A34, Length: 66, dtype: int64
A35
A35
0      33
1      82
2      23
3      26
4      62
5      64
6      46
7      53
8     162
9     129
10     54
11     62
12    131
13    107
14     73
15     68
16    223
17     73
18     73
19    144
20    118
21     70
22     72
23    129
24    134
25     63
26     63
27    187
28     79
29    226
30    137
31     74
32    219
33    148
34     79
35    281
36    202
38     76
39    187
40    125
41    170
42    113
43    139
44    211
45    243
46    117
47     93
48    182
49    154
50     71
51    177
52     68
53    106
54     42
55     27
56     45
57     36
58     42
59     16
60     26
Name: A35, dtype: int64
A36
A36
0     35
1     36
2     27
3     79
4     76
      ..
62    19
63    36
64    10
65    31
66    30
Name: A36, Length: 66, dtype: int64

### FFD - Scenario 3: m = 60

In [31]:
# Perform discretization
m = 60
start = time.time() # Starting time
data_ffd3 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  60 : 0.19794797897338867

In [32]:
## OUTPUT
data_ffd3.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   category
dtypes: category(1), int64(36)
memory usage: 1.8 MB
A1
A1
0     101
1     146
2     138
3      63
4      36
5      62
6     114
7      45
8      81
9     186
10     64
11    167
13    124
14    189
15    183
16    451
17    297
18    173
19    495
20    309
21    185
22    335
23     85
25    131
26    176
27    171
28    129
29    134
30    156
31    138
32     73
33    250
34     57
35     75
36     66
37    312
38     65
39     73
40    172
41     91
42     23
43     90
44     24
Name: A1, dtype: int64
A2
A2
0      71
1     108
2      86
3     133
4      87
5      74
6      75
7      49
8      61
9      74
10     28
11     82
12     36
13     83
14     68
15     33
16     68
17     78
18     67
19     61
20     48
21    192
22     74
23    154
24    311
25    153
26    316
27    127
28    182
29    132
30     74
31    183
33    121
34     68
35    212
36     77
37     72
38    200
39     68
40     58
41     76
42    222
43     83
44    146
45    260
46     83
47    203
48    223
49     79
50     77
51    268
52    162
53     76
54     91
55     55
56     29
57     58
Name: A2, dtype: int64
A3
A3
0     109
1      23
2      75
3      58
4      45
5     225
6     121
7      49
8      61
9     143
10    103
11     71
13    260
14     66
15     71
16    144
18    123
19     76
20     73
21    117
22    148
23     63
24     51
25    178
26     83
27    217
28    140
29     74
30    226
31    145
32     95
33    275
34    201
36    100
37    186
38    116
39    184
40    130
41    123
42    214
43    252
44    124
45     76
46    198
47    168
48     73
49    172
50     58
51     99
52     41
53     76
54     40
55     43
56     53
Name: A3, dtype: int64
A4
A4
0      66
1     111
2      76
3     159
4     132
5     133
6      61
7      58
8     131
9     113
10     73
11    118
12     64
13    140
14    125
15     54
16    139
17     78
18    154
20     75
21    145
22    137
23    179
24    163
25    277
26     86
27    187
28    368
29    192
30     99
31    338
32    119
33     91
34    184
35     92
36    253
37    234
38    237
39     48
40    120
41     48
42     94
43     55
44     27
45     67
46     57
47     66
48     68
49     50
50     70
51     58
52     62
53     44
54     60
Name: A4, dtype: int64
A5
A5
0     104
1     155
2     131
3      62
4      37
5      66
6     118
7     131
8     186
9      68
10    174
11    118
12    185
13    201
14    457
15    303
16    178
17    503
18    310
19    177
20    331
21     84
22    128
23    171
24    173
25    125
26    139
27    148
28    136
29     71
30    242
32    135
33     65
34    309
35     67
36     68
37    170
38     83
39     21
40     82
41     23
Name: A5, dtype: int64
A6
A6
0      63
1     106
2      89
3     142
4      90
5      62
6      57
7      92
8      63
9      74
10     25
11     41
12     65
13     69
14     47
15     59
16    108
17     76
18     72
19     61
20     49
21    187
22     73
23    163
24    318
25    149
26    317
27    123
28    185
29    139
30     73
31    171
32    119
33     64
34    212
35     75
36     73
37    201
38     69
39     58
40     73
41    228
42     80
43    145
44    247
45     85
46    204
47    225
48     80
49     79
50    265
51    155
52     69
53     87
54     54
55     30
56     50
Name: A6, dtype: int64
A7
A7
0     114
1      21
2      79
3      63
4      46
5      47
6     172
8     126
9     109
10    147
11    103
12     81
13     59
14    215
15     66
16     66
17    140
18    119
19     78
20     70
21    119
22    147
23     60
24     50
25    179
26     78
27    212
28    146
29     74
30    227
31    143
32    102
33    286
34    207
35     91
36    177
37    119
38    183
39    129
40    121
41    206
42    247
43    125
44     70
45    200
46    163
47     74
48    177
49     60
50     98
51     40
52     26
53     62
54     68
55     48
Name: A7, dtype: int64
A8
A8
0      65
1     113
2      77
3     156
4     134
5     128
6      66
7      63
8     134
9     123
10     68
11    126
12     68
13    144
14    131
15     52
16    135
17     78
18    152
19     77
20    137
21    137
22    171
23    168
24    279
25     83
26    181
27    364
28    199
29     98
30    347
31    116
32     93
33    178
34     91
35    245
36    227
37    236
38     51
39    124
40     47
41     94
42     50
43     60
44     31
45     58
46     67
47     52
48     65
49     74
50     57
51     60
52     47
53     58
Name: A8, dtype: int64
A9
A9
0     106
1     152
2     137
3      66
4      38
5      65
6     118
7      45
8      92
9     185
10     67
11    180
12    116
13    185
14    198
15    480
16    310
17    177
18    504
19    312
20    186
21    333
22     90
23    119
24    170
25    164
26    124
27    135
28    146
29    132
30     74
31    247
32     58
33     75
34     63
35    304
37     64
38     65
39    157
40     82
41     95
42     19
Name: A9, dtype: int64
A10
A10
0      67
1     106
2      88
3     144
4      17
5      76
6      46
7      78
8      40
9      76
10    115
11     68
12     64
13     67
14     36
15     79
16     38
17     74
18     75
19     63
20     60
21     51
22    192
23     74
24    165
25    311
26    153
27    332
28    131
29    190
30    129
31     79
32    173
33    127
34     58
35    215
36     71
37     71
38    201
39     65
40     63
41     72
42    217
43     86
44    136
45    246
46     81
47    201
48    226
50     77
51     75
52    268
53    154
54     72
55     80
56     60
57     56
Name: A10, dtype: int64
A11
A11
0     112
1      22
2      90
3      62
4      47
5      50
6     170
7     126
8      50
9      59
10    150
11    106
12     76
13     54
14    223
15     71
16     70
17    150
18    120
19     79
20     72
21    128
22    148
23     61
24     51
25    175
26     73
27    208
28    144
30     81
31    224
32    146
33     97
34    290
35    211
36     89
37    182
38    119
39    167
40    127
41    118
42    208
43    249
44    127
45     76
46    192
47    158
48     70
49    165
50     55
51     99
52     68
53     62
54     63
55     45
Name: A11, dtype: int64
A12
A12
0      69
1     106
2      72
3     156
4     139
6     136
7      62
8      62
9     135
10    118
11     77
12    130
13     72
14    155
15    140
16    189
17     77
18    146
19     73
20    134
21    137
22    166
23    171
24    286
25     89
26    184
27    367
28    195
29     90
30    345
31    120
32     94
33    174
34     91
35    240
36    222
37    224
38     52
39    120
40     47
41     98
42     52
43     24
44     60
45     72
46     53
47     65
48     49
49     73
50     62
51     60
52     44
53     61
Name: A12, dtype: int64
A13
A13
0     101
1     143
2     137
3      66
4      43
5      66
6     116
7     134
8     176
9      72
10    169
11    119
12    185
13    188
14    453
15    296
16    177
17    498
18    296
19    183
20    358
21     82
22    133
23    176
24    161
25    126
26    148
27    147
28    139
29     74
30    241
31     61
32     78
33     61
34    289
35     64
36     76
37    168
38     95
39     22
40     94
41     24
Name: A13, dtype: int64
A14
A14
0      68
1     109
2      89
3     136
4      88
5      54
6      59
7      84
8      63
9      68
10     24
11     81
12     85
13     33
14     64
15     99
16     77
17     69
18     60
19     44
20    194
21     75
22    167
23    333
24    146
25    339
26    125
27    188
28    130
29     76
30    190
31    116
32     48
33    221
34     76
35     56
36    210
37     64
38     56
39     68
40    218
41     86
42    136
43    271
44     89
45    184
46    228
47     80
48     76
49    274
50    154
51     72
52     92
53     57
54     31
55     55
Name: A14, dtype: int64
A15
A15
0     108
1      22
2      81
3      63
4      39
5      55
6     167
7     123
8      49
9      60
10    131
11    109
12     73
13     53
14    206
15     71
16     72
17    140
18    117
19     82
20     70
21    128
22    135
23     66
24     53
25    182
26     75
27    227
28    145
29     72
30    232
31    150
32     80
33    299
34    194
35     81
36    180
37    125
38    172
39    117
40    123
41    220
42    248
43    113
44     80
45    210
46    168
47     72
48    170
49     72
50    105
51     43
52     26
53     63
54     70
55     48
Name: A15, dtype: int64
A16
A16
0      67
1     112
2      75
3     152
4     130
5     142
6      62
7      64
8     124
9     125
10     70
11    112
12     64
13    145
15    119
16     54
17    139
18     80
19    145
20     75
21    147
22    145
23    160
24    167
25    278
26     88
27    196
28    362
29    199
30     91
31    322
32    115
33     86
34    175
35     88
36    267
37    232
38    257
39     51
40    123
41    141
42     55
43     61
44     33
45     58
46     69
47     66
48     53
49     70
50     59
51     60
52     50
53     55
Name: A16, dtype: int64
A17
A17
0     105
1     153
2     138
3      65
4      42
5      65
6     111
7      54
8      88
9     184
10     68
11    173
12    113
13    186
14    202
15    447
16    296
17    184
18    508
19    302
20    190
21    358
22     82
23    126
24    177
25    158
26    129
27    137
28    143
29    134
30     73
31    241
32     61
33     83
34     60
35    289
36     64
37     67
38    159
39     95
40     23
41     82
42     20
Name: A17, dtype: int64
A18
A18
0      67
1     110
2      93
3     141
4      17
5      72
6      57
7      59
8      84
9      61
10     72
11     26
12     81
13     37
14     53
15    104
16     34
17     72
18     82
19     72
20     63
21     49
22    190
23     78
24    161
25    330
26    149
27    334
28    119
29    194
30    128
31     68
32    174
33    120
34     57
35    206
36     72
37     59
38    201
39     71
40     61
41     64
42    225
43     84
44    136
45    276
46     89
47    186
48    228
49     80
50     81
51    269
52    154
53     72
54     86
55     51
56     28
57     48
Name: A18, dtype: int64
A19
A19
0     117
1      20
2      84
3      57
4      41
5      51
6     171
7     130
8      52
9      63
10    136
11    115
12     75
13     58
14    196
15     71
16     75
17    137
18    120
19     84
20     69
21    128
22    140
23     64
24     51
25    179
26     73
27    224
28    141
29     69
30    229
31    143
32     84
33    297
34    206
35     79
37    179
38    124
39    162
40    116
41    122
42    221
43    252
44    116
45     76
46    212
47    163
48     73
49    173
50     68
51    104
52     40
53     27
54     65
55     68
56     45
Name: A19, dtype: int64
A20
A20
0      68
1     110
2      79
3     160
4     133
5     140
6      57
7      61
8     122
9     127
10     76
11    119
12     70
13    152
14    120
15     52
16    140
17     76
18    139
19     76
20    141
21    146
22    160
23    169
24    273
25     89
26    183
27    363
28    196
29     92
30    324
31    115
32     92
33    173
34     81
35    268
36    228
37    255
38     53
39    127
40    145
41     53
42     60
43     31
44     75
45     48
46     63
47     54
48     72
49     63
50     62
51     46
52     58
Name: A20, dtype: int64
A21
A21
0     108
1     152
2     139
3      65
4      45
5      66
6     111
7      48
8      90
9     178
10     72
11    182
12    121
13    190
14    188
15    475
16    302
17    187
18    511
19    315
20    185
21    359
23     82
24    127
25    162
26    161
27    116
28    144
29    136
30    142
31     70
32    232
33     60
34     79
35     59
36    286
37     63
38     66
40    155
41     89
42     99
43     18
Name: A21, dtype: int64
A22
A22
0      72
1     110
2      88
3     141
4      17
5      77
6      37
7      60
8     107
9      18
10    118
11     71
12     63
13     70
14     38
15     74
16    107
17     75
18     74
19     60
20     46
21    195
22     77
23    159
24    330
25    152
26    348
27    131
28    200
29    118
30     74
31    167
32    120
33     47
34    213
35     75
36     59
37    202
38     70
39     60
40     69
41    223
42     83
43    125
44    264
45     89
46    187
47    228
48     81
49     81
50    267
51    150
52     71
53     80
54     60
55     57
Name: A22, dtype: int64
A23
A23
0     116
1      22
2      92
3      60
4      41
5      55
6     167
7     130
8      48
9      62
10    136
11    111
12     76
13     58
14    213
15     76
16     76
17    144
18    121
20     84
21     75
22    131
23    135
24     63
25    233
26     71
27    220
28    135
29     74
30    229
31    145
32     80
33    282
34    210
35     77
36    183
37    129
38    174
39    115
40    119
41    216
42    235
43    114
44     79
46    202
47    161
48     70
49    181
50     70
51     98
53     71
54     61
55     67
56     42
Name: A23, dtype: int64
A24
A24
0      68
1     108
2      79
3     157
4     133
5     139
6      66
7      62
8     130
9     133
10     74
11    118
12     74
13    163
15    127
16    186
17     78
18    137
19     77
20    145
21    142
22    165
23    174
24    275
25     83
26    175
27    349
28    189
29     94
30    334
31    121
32     91
33    174
34     86
35    260
36    212
37    253
38     55
39    123
40     46
41    101
42     52
43     54
44     46
45     58
46     52
47     66
48     52
49     71
50     62
51     60
52     45
53     61
Name: A24, dtype: int64
A25
A25
0     103
1     146
2     149
3      61
4      42
5      72
6     113
7      49
8      94
9     162
10     66
11    176
12    114
13    186
14    183
15    468
16    298
17    193
18    499
19    286
20    192
21    335
22     87
23    140
24    186
25    149
26    135
27    149
28    140
29    140
30     75
31    237
32     61
33     78
34     66
35    270
36     63
37     79
38    157
39     96
40     26
41     91
42     23
Name: A25, dtype: int64
A26
A26
0      71
1     107
2      91
3     141
4      16
5      72
6      54
7      58
8      81
9      58
10     67
11     67
12     35
13     82
14     30
15     63
16    101
17     81
18     71
19     56
20     48
21    199
22     80
23    155
24    335
25    152
26    331
27    121
28    205
29    137
30     71
31    205
32    118
33     54
34    209
35     75
36     60
37    204
38     72
39     58
40     70
41    221
42     86
43    137
44    257
45    103
46    181
47    206
48     79
49     87
50    273
51    144
52     73
53     85
54     51
55     35
56     56
Name: A26, dtype: int64
A27
A27
0     109
1      24
2      80
3      62
4      44
5      51
6     163
7     119
8      47
9      65
10    127
11    106
12     76
13     62
14    204
15     73
16     70
17    149
18    120
19     69
20     73
21    131
22    132
23     59
24     65
25    187
26     77
27    221
28    150
29     72
30    241
31    146
32     82
33    293
34    206
35     79
36    181
37    123
38    174
39    110
40    144
41    207
42    240
43    120
44     95
45    189
46    165
47     73
48    166
49     63
50    100
51     43
52     27
53     65
54     66
55     50
Name: A27, dtype: int64
A28
A28
0      68
1     110
2      73
3     156
4     134
5     144
6      63
7      60
8     127
9     108
10     73
11    111
12     66
13    145
14    119
15     53
16    139
17     84
18    146
19     79
20    145
21    148
22    163
23    168
24    289
25     84
26    190
27    371
28    184
29     96
30    321
31    101
32    101
33    168
34     85
35    277
36    227
37    253
38     52
39    125
40    144
41     50
42     56
43     49
44     61
45     52
46     63
47     53
48     72
49     63
50     62
51     47
52     57
Name: A28, dtype: int64
A29
A29
0     104
1     148
2     144
3      61
4      43
5      73
6     112
7      51
8     100
9     171
10     70
11    181
12    113
13    185
14    189
15    469
16    293
17    192
18    508
19    290
20    201
21    354
22     87
23    134
24    177
26    146
27    130
28    144
29    139
30    139
31     76
32    226
33     62
34     78
35     63
37    274
38     63
39     75
40    152
41     92
42     25
43     82
44     19
Name: A29, dtype: int64
A30
A30
0      69
1     109
2      94
3     141
4      16
5      68
6      57
7      57
8      86
9      64
10     69
11     25
12     84
13     36
14     50
15     99
16     32
17     73
18     79
19     73
20     52
21     48
22    200
23     82
24    158
25    340
26    151
27    341
28    124
29    186
30    133
31     65
32    194
33    114
34     57
35    212
36     74
37     60
38    195
39     69
40     57
41     70
42    223
43     89
44    130
45    259
46    104
47    183
48    212
49     80
50     89
51    271
52    140
53     73
54     87
55     50
56     35
57     47
Name: A30, dtype: int64
A31
A31
0     115
1      22
2      85
3      63
4      47
5      52
6     165
7     126
8      50
9      63
10    128
11    108
12     72
13     67
14    206
15     74
16     74
17    151
18    115
19     66
20     74
21    125
22    138
23     61
24     60
25    179
26     72
27    222
28    149
29     73
30    228
31    151
32     78
33    284
34    200
35     79
36    182
37    121
38    183
39    107
40    144
41    212
42    239
43    123
44     93
45    190
46    156
47     73
48    175
49     65
50    102
51     45
52     26
53     65
54     69
55     43
Name: A31, dtype: int64
A32
A32
0      69
1     109
2      76
3     160
4     134
5     141
6      67
7      58
8     131
9     121
10     77
12    109
13     62
14    146
15    120
16     50
17    139
18     84
19    143
20     79
21    136
22    152
23    160
24    170
25    278
26     86
27    178
28    370
29    186
30     93
31    318
32    106
33    101
34    174
35     80
36    279
37    232
38    265
39     49
40    124
41     43
42     97
43     47
44     57
45     51
46     61
47     49
48     67
49     52
50     72
51     59
52     61
53     48
54     59
Name: A32, dtype: int64
A33
A33
0     107
1     152
2     139
3      59
4      44
5      74
6     118
7      50
8     102
9     173
10     72
11    182
12    111
13    198
14    189
15    466
16    296
17    202
18    512
19    301
20    193
21    361
22     87
23    135
24    179
25    142
26    125
27    141
28    139
29    141
30     73
31    223
32     60
33     79
34     63
35    267
36     65
37     71
38    142
39     85
40     99
41     18
Name: A33, dtype: int64
A34
A34
0      69
1     111
2      94
3     140
4      16
5      71
6      47
7      74
8      81
9      20
10    117
11     24
12     44
13     64
14     65
15     50
16     60
17    104
18     79
19     75
20     59
21     48
22    204
23     81
24    159
25    337
26    145
27    330
28    130
29    201
30    130
31     73
32    192
33    120
34    262
35     70
36     60

#### FFD, m = 100

In [33]:
# Perform discretization
m = 100
start = time.time() # Starting time
data_ffd4 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  100 : 0.16847515106201172

In [34]:
## OUTPUT
data_ffd4.info()

## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd4.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      6435 non-null   int64
 1   A2      6435 non-null   int64
 2   A3      6435 non-null   int64
 3   A4      6435 non-null   int64
 4   A5      6435 non-null   int64
 5   A6      6435 non-null   int64
 6   A7      6435 non-null   int64
 7   A8      6435 non-null   int64
 8   A9      6435 non-null   int64
 9   A10     6435 non-null   int64
 10  A11     6435 non-null   int64
 11  A12     6435 non-null   int64
 12  A13     6435 non-null   int64
 13  A14     6435 non-null   int64
 14  A15     6435 non-null   int64
 15  A16     6435 non-null   int64
 16  A17     6435 non-null   int64
 17  A18     6435 non-null   int64
 18  A19     6435 non-null   int64
 19  A20     6435 non-null   int64
 20  A21     6435 non-null   int64
 21  A22     6435 non-null   int64
 22  A23     6435 non-null   int64
 23  A24     6435 non-null   int64
 24  A25     6435 non-null   int64
 25  A26     6435 non-null   int64
 26  A27     6435 non-null   int64
 27  A28     6435 non-null   int64
 28  A29     6435 non-null   int64
 29  A30     6435 non-null   int64
 30  A31     6435 non-null   int64
 31  A32     6435 non-null   int64
 32  A33     6435 non-null   int64
 33  A34     6435 non-null   int64
 34  A35     6435 non-null   int64
 35  A36     6435 non-null   int64
 36  class   6435 non-null   category
dtypes: category(1), int64(36)
memory usage: 1.8 MB
A1
A1
0     101
1     146
2     138
3      63
4      98
5     114
6      45
7     267
8      64
9     167
10    124
11    189
12    183
13    451
14    297
15    173
16    495
17    309
18    185
19    335
20     85
21    131
22    176
23    171
24    129
25    134
26    156
27    138
28     73
29    250
30     57
31    141
32    312
33     65
34     73
35    172
36     91
37     53
38     84
Name: A1, dtype: int64
A2
A2
0     179
1      86
2     133
3      18
4     103
5     115
6     110
7      74
8     110
9      87
10    100
11    101
12    145
13     61
14    240
15     74
16    154
17    311
18    153
19    316
20    127
21    182
22    132
23     74
24    183
25    121
26     68
27    212
28     77
29    272
30     68
31     58
32    298
33     83
34    146
35    260
36    286
37    223
38    156
39    268
40    162
41     76
42     91
43     55
44     87
Name: A2, dtype: int64
A3
A3
0     109
1      98
2     103
3     225
4     121
5      49
6     204
7     103
8     130
9     201
10     66
11    215
12    123
13     76
14    190
15    148
16     63
17    229
18     83
19    217
20    140
21     74
22    226
23    145
24     95
25    275
26    201
27    100
28    186
29    116
30    184
31    130
33    123
34    214
35    252
36    124
37    274
38    168
39     73
40    172
41     58
42     99
43     69
44     88
45     96
Name: A3, dtype: int64
A4
A4
0     109
1     144
2     159
3     132
4     133
5      61
6     189
7     113
8      73
9     118
10    204
11    125
12     54
13    139
14     78
15    154
16     75
17    145
18    137
19    179
20    163
21    277
22     86
23    187
24    368
25    192
26     99
27    338
28    119
29     91
30    184
32    345
33    234
34    237
35    168
36     48
37     94
38     82
39    102
40    100
41    106
42     96
43    101
44     97
Name: A4, dtype: int64
A5
A5
0     104
1     155
2     131
3      62
4     103
5     118
6      41
7     276
8      68
9     174
10    118
11    185
12    201
13    457
14    303
15    178
16    503
17    310
18    177
19    331
20     84
21    128
22    171
23    173
24    125
25    139
26    148
27    136
28     71
29    242
30     59
31     76
32    374
33     67
34     68
35    170
36     83
37     50
38     76
Name: A5, dtype: int64
A6
A6
0     169
1      89
2     142
3      16
4     112
5      81
6     111
7     118
8     109
9      91
10    106
11    108
12     76
13    133
14     49
15    187
16     73
17    163
18    318
19    149
20    317
21    123
22    185
23    139
24     73
25    171
26    119
27    276
28     75
29     73
30    201
31    127
32     73
33    228
34     80
35    145
36    247
37     85
38    204
39    225
40     80
41    344
42    155
43    156
44     54
45     80
Name: A6, dtype: int64
A7
A7
0     114
1     100
2     109
3     219
4     126
5      50
6     206
7     103
8      81
9     274
10     66
11     66
12    140
13    119
14     78
15     70
16    119
17    147
18     60
19    229
20     78
21    212
22    146
23     74
24    227
25    143
26    102
27    286
28    207
29     91
30    177
31    119
32    183
33    129
34    121
35    206
36    247
37    125
38    270
39    163
40     74
41    177
42    158
43     66
44     86
45     92
Name: A7, dtype: int64
A8
A8
0     111
1     144
2     156
3     134
4     128
5      66
6     197
7     123
8      68
9     126
10     68
11    144
12    131
13     52
14    135
15     78
16    152
17    214
18    137
19    171
20    168
21    279
22     83
23    181
24    364
25    199
26     98
27    347
28    116
29     93
30    178
31     91
32    245
33    227
34    236
35    175
36     47
37     94
38     75
39    101
40    100
41    107
42    101
43     99
44     96
Name: A8, dtype: int64
A9
A9
0     106
1     152
2     137
3      66
4     103
5     118
6      45
7      92
8     185
9      67
10    180
11    116
12    185
13    198
14    480
15    310
16    177
17    504
18    312
19    186
20    333
21     90
22    119
23    170
24    164
25    124
26    135
27    146
28    132
29    321
30    133
31     63
32    304
33    129
34    157
35    103
36     93
Name: A9, dtype: int64
A10
A10
0     173
1      88
2     144
3      98
4     119
5      96
6     135
7      68
8     131
9     115
10    112
11     75
12     63
13    111
14    192
15    239
16    311
17    153
18    332
19    131
20    190
21    129
22     79
23    173
24    127
25     58
26    215
27     71
28    272
29     65
30     63
31    289
32     86
33    136
34    246
35     81
36    201
37    226
38     77
39     75
40    268
41    154
42     72
43    128
44     68
Name: A10, dtype: int64
A11
A11
0     112
1     112
2     109
3     220
4     126
5      50
6     209
7     106
8      76
9     277
10     71
11     70
12    150
13    120
14     79
15     72
16    128
17    148
18    112
19    175
20    281
21    144
22     81
23    224
24    146
25     97
26    290
27    211
28     89
29    182
30    119
31    167
32    127
33    118
34    208
35    249
36    127
37     76
38    192
39    158
40     70
41    165
42    154
43     40
44    113
45     85
Name: A11, dtype: int64
A12
A12
0     114
1     133
2     156
4     139
5     136
6      62
7     197
8     118
9      77
10    130
11     72
12    155
13    140
14    189
15    223
16     73
17    134
18    137
19    166
20    171
21    286
22     89
23    184
24    367
25    195
26     90
27    345
28    120
29     94
30    174
31     91
32    240
33    222
34    224
35    172
36     47
37     98
38     76
39    105
40     95
41     99
42    100
43    102
44     98
Name: A12, dtype: int64
A13
A13
0     101
1     143
2     137
3      66
4     109
5     116
6      49
7      85
8     176
9      72
10    169
11    119
12    185
13    188
14    453
15    296
16    177
17    498
18    296
19    183
20    358
21     82
22    133
23    176
24    161
25    126
26    148
27    147
28    139
29     74
30    241
31     61
32     78
33    350
34     64
35     76
36    168
37     95
38     54
39     86
Name: A13, dtype: int64
A14
A14
0     177
1      89
2     136
3      16
4     107
5     116
6      65
7     112
8     105
9      85
10    127
11    146
12     69
13     60
14    238
15     75
16    167
17    333
18    146
19    339
20    125
21    188
22    130
23     76
24    190
25    116
26    269
27     76
28     56
29    210
30    120
31     68
32    218
33     86
34    136
35    271
36     89
37    184
38    228
39    156
40    274
41    154
42     72
43     92
44     57
45     86
Name: A14, dtype: int64
A15
A15
0     108
1     103
2     102
3     222
4     123
5      49
6     191
7     109
8     126
9     206
10     71
11    212
12    117
13     82
14    198
15    135
16     66
17    235
18     75
19    227
20    145
21     72
22    232
23    150
24     80
25    299
26    194
27    261
28    125
29    172
30    117
31    123
32    220
33    248
34    113
35     80
36    210
37    168
38     72
39    170
40     72
41    105
42     69
43     88
44     93
Name: A15, dtype: int64
A16
A16
0     112
1     142
2     152
3     130
4     142
5      62
6     188
7     125
8      70
9     112
10    209
11    119
12     54
13    139
14     80
15    145
16     75
17    147
18    145
19    160
20    167
21    278
22     88
23    196
24    362
25    199
26     91
27    322
28    115
29    261
30     88
31    267
32    232
33    257
34    174
35     41
36    100
37    116
38     72
39    103
40    104
41     97
42    101
43     96
Name: A16, dtype: int64
A17
A17
0     105
1     153
2     138
3      65
4      42
5     176
6      54
7      88
8     184
9      68
10    173
11    113
12    186
13    202
14    447
15    296
16    184
17    508
18    302
19    190
20    358
21    208
22    177
23    158
24    129
25    137
26    143
27    134
28     73
29    241
30    144
31     60
32    289
33     64
34     67
35    159
36     95
37     52
38     73
Name: A17, dtype: int64
A18
A18
0     177
1      93
2     141
3      93
4     112
5     101
6     116
7     107
8      90
9     104
10    106
11     82
12    135
13    239
14     78
15    161
16    330
17    149
18    334
19    119
20    194
21    128
22     68
23    174
24    120
25    263
26     72
27     59
28    201
29    132
30     64
31    225
32     84
33    136
34    276
35     89
36    186
37    228
38     80
39    350
40    154
41    158
42     51
43     76
Name: A18, dtype: int64
A19
A19
0     117
1     104
2      98
3     222
4     130
5      52
6     199
7     115
8      75
9     254
10     71
11     75
12    137
13    120
14     84
15     69
16    128
17    140
18     64
19    230
20     73
21    224
22    141
23    298
24    143
25     84
26    297
27    206
28     79
29    179
30    124
31    162
32    116
33    122
34    221
35    252
36    116
37     76
38    212
39    163
40     73
41    173
42     68
43    104
44     67
45     87
46     91
Name: A19, dtype: int64
A20
A20
0     112
1     145
2     160
3     133
4     140
5      57
6      61
7     122
8     127
9      76
10    119
11     70
12    152
13    120
14     52
15    140
16     76
17    139
18     76
19    141
20    146
21    160
22    169
23    273
24     89
25    183
26    363
27    196
28     92
29    324
30    115
31    265
32     81
33    268
34    228
35    255
36     53
37    127
38     46
39     99
40    113
41     76
42    104
43     91
44    101
45    102
46     98
Name: A20, dtype: int64
A21
A21
0     108
1     152
2     139
3      65
4      45
5     177
6      48
7      90
8     178
9      72
10    182
11    121
12    190
13    188
14    475
15    302
16    187
17    511
18    315
19    185
20    359
21     82
22    127
23    162
24    161
25    116
26    144
27    136
28    142
29     70
30    232
31    139
32     59
33    286
34    129
35    155
36     89
37     22
38     95
Name: A21, dtype: int64
A22
A22
0     182
1      88
2     141
3      94
4     117
5      87
6     136
7      71
8     133
9     112
10    107
11     75
12     74
13    106
14    195
15    236
16    330
17    152
18    348
19    131
20    200
21    118
22    241
23    120
24     47
25    213
26     75
27    261
28     70
29    129
30    223
31     83
32    125
33    264
34     89
35    187
36    228
37     81
38     81
39    267
40    150
41     71
42    127
43     70
Name: A22, dtype: int64
A23
A23
0     116
1     114
2     101
3     222
4     130
5      48
6     198
7     111
8      76
9     271
10     76
11     76
12    144
13    121
14     84
15     75
16    131
17    135
18    115
19    181
20    291
21    135
22     74
23    229
24    145
25     80
26    282
27    210
28     77
29    183
30    129
31    174
32    115
33    119
34    216
35    235
36    114
37    281
38    161
39     70
40    181
41     70
42     98
43     44
44    113
45     84
Name: A23, dtype: int64
A24
A24
0     111
1     144
2     157
3     133
4     139
5      66
6      62
7     130
8     133
9      74
10    118
11     74
12    163
13    127
14    186
15    215
16    222
17    142
18    165
19    174
20    275
21     83
22    175
23    349
24    189
25     94
26    334
27    121
28     91
29    174
30     86
31    260
32    212
33    253
34    178
35     46
36    101
37     76
38    104
39    112
40     88
41     99
42    100
43    100
Name: A24, dtype: int64
A25
A25
0     103
1     146
2     149
3      61
4     114
5     113
6      49
7      94
8     162
9      66
10    176
11    114
12    186
13    183
14    468
15    298
16    193
17    499
18    286
19    192
20    335
21     87
22    140
23    186
24    149
25    135
26    149
27    140
28    140
29     75
30    237
31     61
32     78
33     66
34    270
35     63
36     79
37    157
38     96
39     58
40     82
Name: A25, dtype: int64
A26
A26
0     178
1      91
2     141
3      93
4     107
5      99
6     107
7     102
8     112
9      94
10    151
11     71
12    104
13    199
14     80
15    155
16    335
17    152
18    331
19    121
20    205
21    137
22     71
23    205
24    118
25    263
26    135
27    204
28     72
29    128
30    221
31     86
32    137
33    257
34    103
35    181
36    206
37     79
38    360
39    144
40    158
41     51
42     91
Name: A26, dtype: int64
A27
A27
0     109
1     104
2     106
3     214
4     119
5     112
6     127
7     106
8      76
9      62
10    204
11     73
12    219
13    120
14     69
15    204
16    132
17     59
18    252
19     77
20    221
21    150
22     72
23    241
24    146
25     82
26    293
27    206
28     79
29    181
30    123
31    174
32    110
33    144
34    207
35    240
36    120
37    284
38    165
39     73
40    166
41     63
42    100
43     70
44     87
45     94
Name: A27, dtype: int64
A28
A28
0     112
1     139
2     156
3     134
4     144
5      63
6      60
7     127
8     108
9      73
10    111
11    211
12    119
13     53
14    139
15     84
16    146
17     79
18    145
19    148
20    163
22    168
23    289
24     84
25    190
26    371
27    184
28     96
29    321
30    101
31    101
32    168
33     85
34    277
35    227
36    253
38    177
39     45
40     99
41    106
42     81
43    110
44     87
45    102
46    104
47     95
Name: A28, dtype: int64
A29
A29
0     104
1     148
2     144
3      61
4     116
5     112
6      51
7     100
8     171
9     251
10    113
11    185
12    189
13    469
14    293
15    192
16    508
17    290
18    201
19    354
20     87
21    134
22    177
23    146
24    130
25    144
26    139
27    139
28    302
29    140
30     63
31    274
32     63
33     75
34    152
35     92
36     25
37    101
Name: A29, dtype: int64
A30
A30
0     178
1      94
2     141
3     121
4      77
5     106
6     113
7     109
8      86
9      99
10    105
11     79
12    125
13    248
14     82
15    158
16    340
17    151
18    341
19    124
20    186
21    133
22     65
23    194
24    114
25     57
26    212
27    134
28    195
29     69
30    127
31    223
32     89
33    130
34    259
35    104
36    183
37    212
38     80
39     89
40    271
41    140
42    160
43     50
44     82
Name: A30, dtype: int64
A31
A31
0     115
1     107
2     110
3     217
4     126
5      50
6     191
7     108
8     139
9     206
10     74
11     74
12    151
13    115
14     66
15     74
16    125
17    138
18     61
19    239
20     72
21    222
22    149
23    301
24    151
25     78
26    284
27    200
28     79
29    182
30    121
31    183
32    107
33    144
34    212
35    239
36    123
37    283
38    156
39     73
40    175
41     65
42    102
43     71
44     90
45     87
Name: A31, dtype: int64
A32
A32
0     114
1     140
2     160
3     134
4     141
5      67
6      58
7     131
8     121
9      77
10    109
11     62
12    146
13    120
14     50
15    139
16     84
17    143
18     79
19    136
20    152
21    160
22    170
23    278
24     86
25    178
26    370
27    186
28     93
29    318
30    106
31    101
32    174
33     80
34    279
35    232
36    265
37    173
38     43
39     97
40    104
41     82
42     95
43    103
44     98
45    102
46     99
Name: A32, dtype: int64
A33
A33
0     107
1     152
2     139
3      59
4     118
5     118
6      50
7     102
8     173
9     254
10    111
11    198
12    189
13    466
14    296
15    202
16    512
17    301
18    193
19    361
20     87
21    135
23    179
24    142
25    125
26    141
27    139
28    141
29     73
30    223
31     60
32    142
33    267
34    136
35    142
37    108
38     94
Name: A33, dtype: int64
A34
A34
0     180
1      94
2     140
3      93
4     115
5     101
6     117
7      68
8     129
9     110
10    104
11     79
12    134
13     48
14    204
15    240
16    337
17    145
18    330
19    130
20    201
21    130
22    265
23    120
24     51
25    211
26     70
27    261
28     63
29     58
30    275
31     90
32    132
33    264
34    102
35    186
36    218
37     83
38     93
39    256
40    138
41     73
42    127
43     70
Name: A34, dtype: int64
A35
A35
0     115
1     111
2     110
3     215
4     129
5      54
6     193
7     107
8      73
9     291
10     73
11     73
12    144
13    118
14     70
15     72
16    129
17    134
18     63
19     63
20    187
21    305
22    137
23     74
24    219
25    148
26     79
27    281
28    202
29     76
30    187
31    125
32    170
33    113
34    139
35    211
36    243
37    117
38     93
39    182
40    154
41     71
42    177
43     68
44    106
45     42
46    108
47     84
Name: A35, dtype: int64
A36
A36
0     112
1     141
2     157
3     139
4     137
5      67
6      59
7     137
8     124
9      80
10    117
11     70
12    148
13    127
14    188
15     83
16    138
17    212
18    149
19    158
20    171
21    278
22     85
23    168
24    366
25    191
26     96
27    328
28    110
29    101
30    167
31     80
32    269
33    231
34    262
35    168
36     44
37    100
38     79
39    104
40     91
41    104
42    130
43     69
44    100
Name: A36, dtype: int64

### Export discretized datasets

In [35]:
# EWD datasets:
data_ewd1.to_csv('satimage_ewd1.csv', index = False) # k=4
data_ewd2.to_csv('satimage_ewd2.csv', index = False) # k=7
data_ewd3.to_csv('satimage_ewd3.csv', index = False) # k=10

In [36]:
# EFD datasets:
data_efd1.to_csv('satimage_efd1.csv', index = False) # k=4
data_efd2.to_csv('satimage_efd2.csv', index = False) # k=7
data_efd3.to_csv('satimage_efd3.csv', index = False) # k=10

In [37]:
# FFD datasets:
data_ffd1.to_csv('satimage_ffd1.csv', index = False) # m=10
data_ffd2.to_csv('satimage_ffd2.csv', index = False) # m=30
data_ffd3.to_csv('satimage_ffd3.csv', index = False) # m=60
data_ffd4.to_csv('satimage_ffd4.csv', index = False) # m=100