# Unsupervised discretization
Dataset: clean_pendigits (L)

Updated at: 23 June 22

By: Sam

### About Dataset

pendigits.tra: Training	7494

pendigits.tes: Testing	3498
	
The way we used the dataset was to use first half of training for  actual training, one-fourth for validation and one-fourth for writer-dependent testing. The test set was used for writer-independent testing and is the actual quality measure.

Number of Attributes: 16 input + 1 class attribute (10 classes from 0-9)
The input vector size is 2xT, two times the number of points resampled. We considered spatial resampling to T=8,12,16 points in our experiments and found that T=8 gave the best trade-off between accuracy and complexity.

All attributes are numeric.

No missing value, balanced class

In [1]:
# Load library
import pandas as pd
import numpy as np
import time
import timeit

In [2]:
from sklearn.preprocessing import KBinsDiscretizer as kbins # also use for unsupervised

In [3]:
from feature_engine.discretisation import EqualFrequencyDiscretiser as efd
from feature_engine.discretisation import EqualWidthDiscretiser as ewd

In [4]:
# Load dataset
data = pd.read_csv('clean_pendigits.csv')

In [5]:
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,class
0,47,100,27,81,57,37,26,0,0,23,56,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [7]:
# Convert outcome to categorical
data['class'] = pd.Categorical(data['class'])

In [8]:
# get list of numeric attributes to discretize
num_col = data.select_dtypes(include=np.number).columns
num_col = num_col.tolist()

In [9]:
num_col

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15',
 'A16']

## Equal Width Discretization

In [10]:
# Define function: Inputs: dataset, number of parameters

def ewd_disc(data, k):
    ## set up the discretisation transformer
    ewd_disc = ewd(bins=k, variables=num_col, return_boundaries=False)
    '''
    Parameters
    ----------
    bins : int, default=10
        Desired number of equal width intervals / bins.

    variables : list
        The list of numerical variables to transform. If None, the
        discretiser will automatically select all numerical type variables.

    return_object : bool, default=False
        Whether the numbers in the discrete variable should be returned as
        numeric or as object. The decision should be made by the user based on
        whether they would like to proceed the engineering of the variable as
        if it was numerical or categorical.

    return_boundaries: bool, default=False
        whether the output should be the interval boundaries. If True, it returns
        the interval boundaries. If False, it returns integers.
    '''
    ## fit the transformer
    ewd_disc.fit(data)
    ## transform the data
    data_ewd = ewd_disc.transform(data)
    ## binner_dict contains the boundaries of the different bins: 
    # stores the interval limits identified for each variable
    ewd_disc.binner_dict_
    return data_ewd  # return dataset after discretization

### EWD - Scenario 1: k = 4

In [11]:
# Perform discretization
k = 4
start = time.time() # Starting  time
data_ewd1 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":",ewd_t) # Total time execution

Discretization time, EWD, k =  4 : 0.05168318748474121

In [12]:
# OUTPUT:
data_ewd1.head()

   A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  A11  A12  A13  A14  A15  A16 class
0   1   3   1   3   2   1   1   0   0    0    2    2    3    3    1    3     8
1   0   3   1   3   1   2   1   1   0    0    1    0    2    0    3    0     2
2   0   2   1   2   2   3   3   3   3    2    1    2    1    0    0    0     1
3   0   3   0   3   0   2   0   1   3    1    3    1    2    0    2    0     4
4   0   2   1   3   3   3   3   3   2    2    1    1    1    0    1    0     1

In [13]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd1.groupby(col)[col].count())

A1
A1
0    4770
1    2511
2    1514
3    2197
Name: A1, dtype: int64
A2
A2
0      75
1     330
2    2177
3    8410
Name: A2, dtype: int64
A3
A3
0    3370
1    3717
2    2772
3    1133
Name: A3, dtype: int64
A4
A4
0     118
1     594
2    2567
3    7713
Name: A4, dtype: int64
A5
A5
0    3391
1    1841
2    2700
3    3060
Name: A5, dtype: int64
A6
A6
0    1094
1    1789
2    3492
3    4617
Name: A6, dtype: int64
A7
A7
0    2551
1    2546
2    3281
3    2614
Name: A7, dtype: int64
A8
A8
0    2963
1    3488
2    2683
3    1858
Name: A8, dtype: int64
A9
A9
0    2528
1    2141
2    2172
3    4151
Name: A9, dtype: int64
A10
A10
0    4669
1    3262
2    2247
3     814
Name: A10, dtype: int64
A11
A11
0    2877
1    1146
2    1691
3    5278
Name: A11, dtype: int64
A12
A12
0    4908
1    2781
2    2395
3     908
Name: A12, dtype: int64
A13
A13
0     930
1    3915
2    4075
3    2072
Name: A13, dtype: int64
A14
A14
0    5213
1    3175
2     543
3    2061
Name: A14, dtype: int64
A15
A15
0    4723
1    1286
2     996
3    3987
Name: A15, dtype: int64
A16
A16
0    6795
1    1431
2     739
3    2027
Name: A16, dtype: int64

### EWD - Scenario 2: k = 7

In [14]:
# Perform discretization
k = 7
start = time.time() # Starting  time
data_ewd2 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  7 : 0.05597114562988281

In [15]:
# OUTPUT:
data_ewd2.head()

   A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  A11  A12  A13  A14  A15  A16 class
0   3   6   1   5   3   2   1   0   0    1    3    3    6    6    2    6     8
1   0   6   1   6   2   5   2   3   1    1    2    0    4    0    6    0     2
2   0   3   2   4   5   6   6   6   5    5    3    3    1    1    1    0     1
3   0   6   0   6   0   4   1   3   6    2    6    3    5    1    4    0     4
4   0   4   3   5   6   6   5   5   4    4    2    2    2    1    3    0     1

In [16]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd2.groupby(col)[col].count())

A1
A1
0    3559
1    1540
2    1502
3    1204
4     784
5     685
6    1718
Name: A1, dtype: int64
A2
A2
0      43
1      47
2     152
3     444
4    1298
5    2627
6    6381
Name: A2, dtype: int64
A3
A3
0    2115
1    1644
2    2130
3    2242
4    1441
5     772
6     648
Name: A3, dtype: int64
A4
A4
0      57
1      91
2     259
3     758
4    1531
5    2186
6    6110
Name: A4, dtype: int64
A5
A5
0    2492
1    1112
2     933
3    1370
4    1631
5    1344
6    2110
Name: A5, dtype: int64
A6
A6
0     727
1     478
2     949
3    1491
4    1960
5    2524
6    2863
Name: A6, dtype: int64
A7
A7
0    1841
1     939
2    1412
3    1857
4    1839
5    1402
6    1702
Name: A7, dtype: int64
A8
A8
0    2128
1    1168
2    2150
3    1922
4    1528
5     763
6    1333
Name: A8, dtype: int64
A9
A9
0    1825
1     916
2    1186
3    1311
4    1251
5    1388
6    3115
Name: A9, dtype: int64
A10
A10
0    3506
1    1466
2    1867
3    1708
4    1145
5    1005
6     295
Name: A10, dtype: int64
A11
A11
0    2222
1     802
2     666
3     692
4     935
5    1523
6    4152
Name: A11, dtype: int64
A12
A12
0    3216
1    2047
2    1443
3    1769
4    1368
5     659
6     490
Name: A12, dtype: int64
A13
A13
0     477
1     631
2    1766
3    3645
4    2049
5    1198
6    1226
Name: A13, dtype: int64
A14
A14
0    3636
1    2177
2    2100
3     660
4     292
5     316
6    1811
Name: A14, dtype: int64
A15
A15
0    3962
1     925
2     736
3     661
4     566
5     583
6    3559
Name: A15, dtype: int64
A16
A16
0    6006
1     972
2     894
3     551
4     374
5     592
6    1603
Name: A16, dtype: int64

### EWD - Scenario 3: k = 10

In [17]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_ewd3 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  10 : 0.054937124252319336

In [18]:
# OUTPUT:
data_ewd3.head()

   A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  A11  A12  A13  A14  A15  A16 class
0   4   9   2   8   5   3   2   0   0    2    5    5    9    8    3    9     8
1   0   8   2   9   4   7   2   4   1    1    3    0    6    0    9    0     2
2   0   5   3   6   7   8   9   9   7    7    4    5    2    2    1    0     1
3   0   9   0   9   0   6   1   4   8    3    9    4    7    2    6    0     4
4   0   6   4   8   9   9   8   7   5    5    3    3    3    1    4    0     1

In [19]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd3.groupby(col)[col].count())

A1
A1
0    3133
1    1083
2    1110
3    1075
4     880
5     712
6     558
7     501
8     468
9    1472
Name: A1, dtype: int64
A2
A2
0      36
1      21
2      44
3     112
4     192
5     440
6    1005
7    1646
8    2327
9    5169
Name: A2, dtype: int64
A3
A3
0    1792
1     973
2    1280
3    1539
4    1503
5    1460
6     955
7     650
8     328
9     512
Name: A3, dtype: int64
A4
A4
0      38
1      45
2      83
3     189
4     357
5     729
6    1120
7    1555
8    1352
9    5524
Name: A4, dtype: int64
A5
A5
0    2185
1     797
2     738
3     685
4     827
5     998
6    1206
7     989
8     846
9    1721
Name: A5, dtype: int64
A6
A6
0     618
1     293
2     402
3     667
4     903
5    1120
6    1426
7    1915
8    1427
9    2221
Name: A6, dtype: int64
A7
A7
0    1560
1     667
2     729
3     998
4    1143
5    1320
6    1354
7    1104
8     756
9    1361
Name: A7, dtype: int64
A8
A8
0    1947
1     572
2    1002
3    1645
4    1285
5    1324
6    1054
7     582
8     477
9    1104
Name: A8, dtype: int64
A9
A9
0    1565
1     619
2     709
3     822
4     954
5     871
6     836
7     963
8    1039
9    2614
Name: A9, dtype: int64
A10
A10
0    3103
1    1043
2    1089
3    1327
4    1369
5     864
6     812
7     898
8     310
9     177
Name: A10, dtype: int64
A11
A11
0    1957
1     632
2     546
3     472
4     416
5     508
6     722
7    1019
8    1197
9    3523
Name: A11, dtype: int64
A12
A12
0    2609
1    1619
2    1300
3    1001
4    1160
5    1080
6    1002
7     547
8     314
9     360
Name: A12, dtype: int64
A13
A13
0     366
1     317
2     593
3    1224
4    2345
5    2242
6    1399
7     885
8     713
9     908
Name: A13, dtype: int64
A14
A14
0    3335
1     888
2    1959
3    1565
4     641
5     257
6     202
7     186
8     378
9    1581
Name: A14, dtype: int64
A15
A15
0    3674
1     712
2     628
3     526
4     469
5     412
6     381
7     419
8     451
9    3320
Name: A15, dtype: int64
A16
A16
0    5618
1     866
2     617
3     657
4     468
5     267
6     271
7     395
8     492
9    1341
Name: A16, dtype: int64

## Equal Frequency Discretization - EFD
- Reference: https://nbviewer.org/github/feature-engine/feature-engine-examples/blob/main/discretisation/EqualFrequencyDiscretiser.ipynb
- Parameter:
- q : int, default=10
    Desired number of equal frequency intervals / bins. In other words the
    number of quantiles in which the variables should be divided.

- variables : list
    The list of numerical variables that will be discretised. If None, the
    EqualFrequencyDiscretiser() will select all numerical variables.

- return_object : bool, default=False
    Whether the numbers in the discrete variable should be returned as
    numeric or as object. The decision is made by the user based on
    whether they would like to proceed the engineering of the variable as
    if it was numerical or categorical.

- return_boundaries: bool, default=False
    whether the output should be the interval boundaries. If True, it returns
    the interval boundaries. If False, it returns integers.

In [20]:
def efd_disc(data, k):
    ## set up the discretisation transformer
    efd_disc = efd(q=k, variables=num_col)
    ## fit the transformer
    efd_disc.fit(data)
    ## transform the data
    data_efd = efd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    efd_disc.binner_dict_
    return data_efd

### Define function efd_disc, inputs include dataset, number of intervals (k)

### EFD - Scenario 1: k = 4

In [21]:
# Perform discretization
k = 4
start = time.time() # Starting time
data_efd1 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":", efd_t) # Total time execution

Discretization time, EFD, k =  4 : 0.06898617744445801

In [22]:
## OUTPUT: Check number of instance in each interval 
for col in num_col:
    print(col)
    print(data_efd1.groupby(col)[col].count())

A1
A1
0    2791
1    2786
2    2708
3    2707
Name: A1, dtype: int64
A2
A2
0    2754
1    2808
2    5430
Name: A2, dtype: int64
A3
A3
0    2765
1    2819
2    2688
3    2720
Name: A3, dtype: int64
A4
A4
0    2817
1    2766
2    5409
Name: A4, dtype: int64
A5
A5
0    2811
1    2700
2    2738
3    2743
Name: A5, dtype: int64
A6
A6
0    2778
1    2827
2    2651
3    2736
Name: A6, dtype: int64
A7
A7
0    2780
1    2716
2    2770
3    2726
Name: A7, dtype: int64
A8
A8
0    2767
1    2852
2    2672
3    2701
Name: A8, dtype: int64
A9
A9
0    2822
1    2718
2    2747
3    2705
Name: A9, dtype: int64
A10
A10
0    2819
1    2755
2    2729
3    2689
Name: A10, dtype: int64
A11
A11
0    2764
1    2740
2    2793
3    2695
Name: A11, dtype: int64
A12
A12
0    2754
1    2774
2    2733
3    2731
Name: A12, dtype: int64
A13
A13
0    2874
1    2795
2    2597
3    2726
Name: A13, dtype: int64
A14
A14
0    2757
1    2857
2    2634
3    2744
Name: A14, dtype: int64
A15
A15
0    5540
1    5452
Name: A15, dtype: int64
A16
A16
0    5511
1    2745
2    2736
Name: A16, dtype: int64

### EFD - Scenario 2: k = 7

In [23]:
# Perform discretization
k = 7
start = time.time() # Starting time
data_efd2 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":", efd_t) # Total time execution

Discretization time, EFD, k =  7 : 0.08504486083984375

In [24]:
## OUTPUT
data_efd2.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  category
dtypes: category(1), int64(16)
memory usage: 1.4 MB
A1
A1
0    3232
1    1538
2    1529
3    1565
4    1570
5    1558
Name: A1, dtype: int64
A2
A2
0    1617
1    1679
2    1547
3    1474
4    1560
5    3115
Name: A2, dtype: int64
A3
A3
0    1606
1    1647
2    1560
3    1528
4    1640
5    1443
6    1568
Name: A3, dtype: int64
A4
A4
0    1652
1    1627
2    1474
3    1537
4    4702
Name: A4, dtype: int64
A5
A5
0    1636
1    1532
2    1613
3    1562
4    1509
5    1575
6    1565
Name: A5, dtype: int64
A6
A6
0    1614
1    1603
2    1528
3    1630
4    1482
5    1627
6    1508
Name: A6, dtype: int64
A7
A7
0    1648
1    1564
2    1551
3    1530
4    1595
5    1537
6    1567
Name: A7, dtype: int64
A8
A8
0    1596
1    1578
2    1641
3    1494
4    1598
5    1549
6    1536
Name: A8, dtype: int64
A9
A9
0    1639
1    1566
2    1557
3    1614
4    1501
5    3115
Name: A9, dtype: int64
A10
A10
0    3193
1    1567
2    1542
3    1629
4    1519
5    1542
Name: A10, dtype: int64
A11
A11
0    1632
1    1549
2    1537
3    1670
4    1567
5    3037
Name: A11, dtype: int64
A12
A12
0    1624
1    1592
2    1572
3    1548
4    1595
5    1570
6    1491
Name: A12, dtype: int64
A13
A13
0    1645
1    1594
2    1606
3    1475
4    1556
5    1576
6    1540
Name: A13, dtype: int64
A14
A14
0    3152
1    1767
2    1447
3    1547
4    1564
5    1515
Name: A14, dtype: int64
A15
A15
0    3153
1    1570
2    1561
3    1588
4    3120
Name: A15, dtype: int64
A16
A16
0    4795
1    1520
2    1557
3    1577
4    1543
Name: A16, dtype: int64

### Scenario 3: k = 10

In [25]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_efd3 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":", efd_t) # Total time execution

Discretization time, EFD, k =  10 : 0.06845211982727051

In [26]:
## OUTPUT
data_efd3.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  category
dtypes: category(1), int64(16)
memory usage: 1.4 MB
A1
A1
0    3337
1    1089
2    1151
3    1024
4    1150
5    1044
6    2197
Name: A1, dtype: int64
A2
A2
0    1177
1    1104
2    1215
3    1115
4     951
5    1242
6     901
7    3287
Name: A2, dtype: int64
A3
A3
0    1105
1    1110
2    1155
3    1091
4    1123
5    1084
6    1164
7     963
8    1125
9    1072
Name: A3, dtype: int64
A4
A4
0    1165
1    1142
2    1132
3    1009
4    1135
5    1022
6    4387
Name: A4, dtype: int64
A5
A5
0    2270
1    1043
2    1092
3    1106
4    1175
5    1055
6    1055
7    2196
Name: A5, dtype: int64
A6
A6
0    1130
1    1088
2    1093
3    1151
4    1143
5    1147
6    1105
7    1048
8    2087
Name: A6, dtype: int64
A7
A7
0    1144
1    1083
2    1094
3    1101
4    1074
5    1201
6    1074
7    1104
8    1048
9    1069
Name: A7, dtype: int64
A8
A8
0    2234
1    1176
2    1086
3    1123
4    1107
5    1049
6    1054
7    1093
8    1070
Name: A8, dtype: int64
A9
A9
0    1128
1    1107
2    1133
3    1034
4    1138
5    1134
6    1097
7    1122
8    2099
Name: A9, dtype: int64
A10
A10
0    3310
1    1134
2    1130
3    1126
4    1109
5     986
6    1146
7    1051
Name: A10, dtype: int64
A11
A11
0    2222
1    1080
2    1127
3    1075
4    1115
5    1110
6    3263
Name: A11, dtype: int64
A12
A12
0    2288
1    1110
2    1115
3    1015
4    1076
5    1237
6    1023
7    1055
8    1073
Name: A12, dtype: int64
A13
A13
0    1108
1    1099
2    1237
3     958
4    1267
5    1055
6    1014
7    1090
8    1072
9    1092
Name: A13, dtype: int64
A14
A14
0    2235
1    1100
2    1164
3    1115
4     985
5    1148
6    1049
7    1143
8    1053
Name: A14, dtype: int64
A15
A15
0    3322
1    1134
2    1084
3    1066
4    1110
5    3276
Name: A15, dtype: int64
A16
A16
0    4457
1    1054
2    1094
3    1092
4    1100
5    1139
6    1056
Name: A16, dtype: int64

## Fixed Frequency Discretization - FFD

### Define function ffd_disc: modify input of function efd
Input include dataset, interval frequency (m)

In [27]:
def ffd_disc(data, m): # 
    n = len(data)
    ## set up the discretisation transformer
    ffd_disc = efd(q=round(n/m), variables=num_col) # number of bins = n/m
    ## fit the transformer
    ffd_disc.fit(data)
    ## transform the data
    data_ffd = ffd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    ffd_disc.binner_dict_
    return data_ffd

### FFD - Scenario 1: m = 10

In [28]:
# Perform discretization
m = 10
start = time.time() # Starting time
data_ffd1 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD,  m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD,  m =  10 : 0.25850510597229004

In [29]:
## OUTPUT
data_ffd1.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd1.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  category
dtypes: category(1), int64(16)
memory usage: 1.4 MB
A1
A1
0      2423
1        85
2        57
3        79
4        69
       ...
107      35
108      45
109      34
110      32
111    1143
Name: A1, Length: 100, dtype: int64
A2
A2
0       31
1       11
2        9
3       11
4       13
      ...
76     247
77     217
78     203
79     172
80    3115
Name: A2, Length: 76, dtype: int64
A3
A3
0      1028
1        77
2        73
3        79
4        84
       ...
108      21
109      23
110      24
111      17
112     309
Name: A3, Length: 100, dtype: int64
A4
A4
0       21
1       12
2        9
3       15
4        4
      ...
86     126
87     136
88     153
89     162
90    4387
Name: A4, Length: 85, dtype: int64
A5
A5
0      1636
1        61
2        39
3        55
5        64
       ...
110      69
111      60
112      41
113      43
114    1155
Name: A5, Length: 100, dtype: int64
A6
A6
0       421
2        25
3        12
4        17
5        24
       ...
106     110
107     127
109     129
110     137
111    1115
Name: A6, Length: 100, dtype: int64
A7
A7
0      1026
1        68
2        50
3        60
4        53
       ...
107      43
108      36
109      40
110      51
111     899
Name: A7, Length: 100, dtype: int64
A8
A8
0      1596
1        31
2        39
3        39
4        42
       ...
102      41
103      33
104      47
105      39
106     728
Name: A8, Length: 100, dtype: int64
A9
A9
0      1083
1        45
2        57
3        48
4        60
       ...
107      88
109      85
110      78
111      84
112    1764
Name: A9, Length: 100, dtype: int64
A10
A10
0      2318
1        72
2        65
3        91
4        91
       ...
102      13
103       6
104       8
105       9
106      69
Name: A10, Length: 100, dtype: int64
A11
A11
0      1353
1        66
2        48
3        79
4        86
       ...
104     113
105     114
106     112
107     101
108    2482
Name: A11, Length: 100, dtype: int64
A12
A12
0      1376
1       121
2       127
3       126
4       126
       ...
102      14
103      13
104      14
105      14
106     192
Name: A12, Length: 100, dtype: int64
A13
A13
0      195
1       13
2       19
3       16
4       14
      ...
100     40
101     34
102     34
103     19
104    509
Name: A13, Length: 100, dtype: int64
A14
A14
0      2002
1       233
2       162
3       201
4       159
       ...
105      73
106      79
107      77
108      82
109     894
Name: A14, Length: 100, dtype: int64
A15
A15
0      2972
1        63
2        74
3        44
4        86
       ...
102      29
104      42
105      39
106      22
107    2988
Name: A15, Length: 100, dtype: int64
A16
A16
0      4272
1       185
2       174
4       164
5       175
       ...
104      63
105      64
106      85
107      85
108     759
Name: A16, Length: 100, dtype: int64

### FFD - Scenario 1: m = 30

In [30]:
# Perform discretization
m = 30
start = time.time() # Starting time
data_ffd2 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, EFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, EFD, m =  30 : 0.13798117637634277

In [31]:
## OUTPUT
data_ffd2.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  category
dtypes: category(1), int64(16)
memory usage: 1.4 MB
A1
A1
0      2423
1        85
2        57
3        79
4        69
       ...
101      35
102      45
103      34
104      32
105    1143
Name: A1, Length: 100, dtype: int64
A2
A2
0       31
1       31
2       32
3       29
4       41
      ...
58     247
59     217
60     203
61     172
62    3115
Name: A2, Length: 63, dtype: int64
A3
A3
0     1028
1       77
2       73
3       79
4       84
      ...
93      44
94      21
95      23
96      24
97     326
Name: A3, Length: 97, dtype: int64
A4
A4
0       33
1       28
2       31
3       34
4       27
      ...
68     126
69     136
70     153
71     162
72    4387
Name: A4, Length: 71, dtype: int64
A5
A5
0      1636
1        61
2        39
3        55
4        64
       ...
99       69
100      60
101      41
102      43
103    1155
Name: A5, Length: 100, dtype: int64
A6
A6
0       421
1        37
2        41
3        21
4        26
       ...
96      110
97      127
98      129
99      137
100    1115
Name: A6, Length: 96, dtype: int64
A7
A7
0      1026
1        68
2        50
3        60
4        53
       ...
99       43
100      36
101      40
102      51
103     899
Name: A7, Length: 100, dtype: int64
A8
A8
0      1596
1        31
2        39
3        39
4        42
       ...
98       41
99       33
100      47
101      39
102     728
Name: A8, Length: 100, dtype: int64
A9
A9
0      1083
1        45
2        57
3        48
4        60
       ...
97       88
98       85
99       78
100      84
101    1764
Name: A9, Length: 100, dtype: int64
A10
A10
0     2318
1       72
2       65
3       91
4       91
      ...
89      26
90      38
91      23
92      30
93      86
Name: A10, Length: 93, dtype: int64
A11
A11
0      1353
1        66
2        48
3        79
4        86
       ...
96      113
97      114
98      112
100     101
101    2482
Name: A11, Length: 100, dtype: int64
A12
A12
0     1376
1      121
2      127
3      126
4      126
      ...
92      26
93      49
94      14
95      27
96     206
Name: A12, Length: 95, dtype: int64
A13
A13
0     227
1      16
2      29
3      50
4      25
     ...
93     40
94     34
95     34
96     19
97    509
Name: A13, Length: 94, dtype: int64
A14
A14
0     2002
1      233
2      162
3      201
4      159
      ...
89      73
90      79
91      77
92      82
93     894
Name: A14, Length: 91, dtype: int64
A15
A15
0      2972
1        63
2        74
3        44
4        86
       ...
96       29
97       42
98       39
99       22
100    2988
Name: A15, Length: 100, dtype: int64
A16
A16
0      4272
1       185
2       174
3       164
4       175
       ...
97       63
98       64
99       85
100      85
101     759
Name: A16, Length: 98, dtype: int64

### FFD - Scenario 3: m = 60

In [32]:
# Perform discretization
m = 60
start = time.time() # Starting time
data_ffd3 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  60 : 0.12297821044921875

In [33]:
## OUTPUT
data_ffd3.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  category
dtypes: category(1), int64(16)
memory usage: 1.4 MB
A1
A1
0     2423
1       85
2       57
3       79
4       69
      ...
87      77
88      74
89      35
90      79
91    1175
Name: A1, Length: 90, dtype: int64
A2
A2
0       62
1       61
2       73
3       46
4       62
5       75
6       54
7       69
8       43
9       97
10      44
11      46
12      52
13      61
14      69
15      69
16      97
17      97
18     101
19     114
20     117
21     108
22     115
23     118
24     134
25     134
26     163
27     140
28     161
29     172
30     175
31     200
32     167
33     200
34     216
35     236
36     213
37     205
38     245
39     232
40     221
41     254
42     244
43     261
44     259
45     235
46     245
47     242
48     234
49     247
50     217
51     203
52     172
53    3115
Name: A2, dtype: int64
A3
A3
0     1028
1       77
2       73
3       79
4       84
      ...
85      57
86      73
87      70
88      44
89     350
Name: A3, Length: 89, dtype: int64
A4
A4
0       61
1       65
2       59
3       76
4       47
      ...
57     126
58     136
59     153
60     162
61    4387
Name: A4, Length: 61, dtype: int64
A5
A5
0     1636
1       61
2       94
3       64
4       69
      ...
95      69
96      69
97      60
98      41
99    1198
Name: A5, Length: 97, dtype: int64
A6
A6
0      421
1       78
2       47
3       72
4       51
      ...
83     110
84     127
85     129
86     137
87    1115
Name: A6, Length: 85, dtype: int64
A7
A7
0     1026
1       68
2       50
3       60
4      114
      ...
92      57
93      79
94      40
95      51
96     899
Name: A7, Length: 96, dtype: int64
A8
A8
0     1596
1       31
2       78
3       42
4       66
      ...
87      93
88      36
89      74
90      47
91     767
Name: A8, Length: 90, dtype: int64
A9
A9
0     1083
1      102
2       48
3       60
4       56
      ...
94      88
95      85
96      78
97      84
98    1764
Name: A9, Length: 98, dtype: int64
A10
A10
0     2318
1       72
2       65
3       91
4       91
      ...
83      29
84      76
85      42
86      61
87     116
Name: A10, Length: 88, dtype: int64
A11
A11
0     1353
1       66
2       48
3       79
4       86
      ...
87     113
88     114
89     112
91     101
92    2482
Name: A11, Length: 91, dtype: int64
A12
A12
0     1376
1      121
2      127
3      126
4      126
      ...
84      39
85      60
86      64
87      63
88     233
Name: A12, Length: 87, dtype: int64
A13
A13
0     243
1      79
2      44
3      61
4      85
     ...
80     98
81     41
82     40
83     68
84    528
Name: A13, Length: 83, dtype: int64
A14
A14
0     2002
1      233
2      162
3      201
4      159
      ...
72      73
73      79
74      77
75      82
76     894
Name: A14, Length: 76, dtype: int64
A15
A15
0     2972
1       63
2       74
3       44
4       86
      ...
76      82
77      32
78      71
79      61
80    2988
Name: A15, Length: 81, dtype: int64
A16
A16
0     4272
1      185
2      174
3      164
4      175
      ...
76      63
77      64
78      85
79      85
80     759
Name: A16, Length: 81, dtype: int64

#### FFD, m = 100

In [34]:
# Perform discretization
m = 100
start = time.time() # Starting time
data_ffd4 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  100 : 0.09906888008117676

In [35]:
## OUTPUT
data_ffd4.info()

## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd4.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10992 entries, 0 to 10991
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      10992 non-null  int64
 1   A2      10992 non-null  int64
 2   A3      10992 non-null  int64
 3   A4      10992 non-null  int64
 4   A5      10992 non-null  int64
 5   A6      10992 non-null  int64
 6   A7      10992 non-null  int64
 7   A8      10992 non-null  int64
 8   A9      10992 non-null  int64
 9   A10     10992 non-null  int64
 10  A11     10992 non-null  int64
 11  A12     10992 non-null  int64
 12  A13     10992 non-null  int64
 13  A14     10992 non-null  int64
 14  A15     10992 non-null  int64
 15  A16     10992 non-null  int64
 16  class   10992 non-null  category
dtypes: category(1), int64(16)
memory usage: 1.4 MB
A1
A1
0     2423
1       85
2      136
3       69
4      169
      ...
66      86
67     109
68      74
69     114
70    1175
Name: A1, Length: 70, dtype: int64
A2
A2
0      101
1      112
2       91
3      101
4       97
5       98
6      132
7      113
8       69
9      166
10      97
11     101
12     114
13     117
14     108
15     115
16     118
17     134
18     134
19     163
20     140
21     161
22     172
23     175
24     200
25     167
26     200
27     216
28     236
29     213
30     205
31     245
32     232
33     221
34     254
35     244
36     261
37     259
38     235
39     245
40     242
41     234
42     247
43     217
44     203
45     172
46    3115
Name: A2, dtype: int64
A3
A3
0     1028
1       77
2      152
3       84
4       83
      ...
74     110
75      94
76     102
77      98
78     394
Name: A3, Length: 79, dtype: int64
A4
A4
0      101
1      100
2      107
3       99
4      121
5       81
6      103
7       95
8      118
9       92
10     148
11      89
12      86
13     101
14     102
15     109
16     105
17     117
18      97
19     112
20      97
21     127
22     124
23     130
24     135
25     121
26     143
27     146
28     173
29     160
30     171
31     172
32     167
33     167
34     171
35     161
36     158
37     147
38     129
39     126
40     121
41      99
42     106
43     134
44     115
45     123
46     112
47     102
48     108
49     126
50     136
51     153
52     162
53    4387
Name: A4, dtype: int64
A5
A5
0     1636
1      100
2      119
3       69
4      139
      ...
77      66
78     131
79      69
80     101
81    1198
Name: A5, Length: 82, dtype: int64
A6
A6
0      421
1       99
2       98
3       83
4      116
      ...
70     110
71     127
72     129
73     137
74    1115
Name: A6, Length: 75, dtype: int64
A7
A7
0     1026
1      118
2       60
3      114
4      125
      ...
80     115
81     113
82      79
83      91
84     899
Name: A7, Length: 84, dtype: int64
A8
A8
0     1627
1       78
2      108
3      134
4       87
      ...
69     120
70      99
71      83
72     121
73     767
Name: A8, Length: 73, dtype: int64
A9
A9
0     1128
1      105
2      116
3       51
4      103
      ...
76     106
78     173
79      78
80      84
81    1764
Name: A9, Length: 81, dtype: int64
A10
A10
0     2318
1      137
2       91
3       91
4      105
      ...
73     122
74      70
75     118
76      85
77      92
Name: A10, Length: 78, dtype: int64
A11
A11
0     1419
1      127
2       86
3       76
4      115
      ...
64     113
65     114
66     112
67     101
68    2482
Name: A11, Length: 69, dtype: int64
A12
A12
0     1376
1      121
2      127
3      126
4      126
      ...
77     105
78      94
79     100
80     104
81     192
Name: A12, Length: 81, dtype: int64
A13
A13
0     208
1     114
2     105
3      85
4     101
     ...
67    124
68     58
69     98
70     81
71    596
Name: A13, Length: 72, dtype: int64
A14
A14
0     2002
1      233
2      162
3      201
5      159
      ...
59      73
60      79
61      77
62      82
63     894
Name: A14, Length: 63, dtype: int64
A15
A15
0     3035
1       74
2      130
3       83
4       96
5       89
6      167
7       77
8       73
9      138
10      73
11      82
12     128
13      77
14     134
15      69
16     132
17      66
18     110
19     124
20      57
21     112
22     109
23     106
24      94
25     105
26      83
27     108
28      96
29      99
30      83
31     115
32      82
33     127
34      88
35     101
36      84
37     105
38      91
39     123
40      80
41     133
42      83
43      78
44     134
45      87
46     113
47      83
48      81
49     104
50     103
51    2988
Name: A15, dtype: int64
A16
A16
0     4272
1      185
2      174
3      164
4      175
5      146
6      151
7      141
8      103
9      107
10     101
11     111
12      93
13      83
14     173
15      70
16      66
17      99
18     126
19      65
20     122
21      68
22     114
23     131
24      61
25     130
26      67
27     128
28     134
29      72
30      65
31     116
32     110
33      96
34      87
35      90
36     114
37     113
38      91
39      86
40     110
41      87
42     120
43      91
44     110
45     113
46     110
47     108
48      98
49      52
50     106
51     100
52     131
53      63
54     149
55      85
56     759
Name: A16, dtype: int64

### Export discretized datasets

In [36]:
# EWD datasets:
data_ewd1.to_csv('pendigits_ewd1.csv', index=False) # k=4
data_ewd2.to_csv('pendigits_ewd2.csv', index=False) # k=7
data_ewd3.to_csv('pendigits_ewd3.csv', index=False) # k=10

In [37]:
# EFD datasets:
data_efd1.to_csv('pendigits_efd1.csv', index=False) # k=4
data_efd2.to_csv('pendigits_efd2.csv', index=False) # k=7
data_efd3.to_csv('pendigits_efd3.csv', index=False) # k=10

In [38]:
# FFD datasets:
data_ffd1.to_csv('pendigits_ffd1.csv', index=False) # m=10
data_ffd2.to_csv('pendigits_ffd2.csv', index=False) # m=30
data_ffd3.to_csv('pendigits_ffd3.csv', index=False) # m=60
data_ffd4.to_csv('pendigits_ffd4.csv', index=False) # m=100