# Preprocess data
Dataset: iris<br>
By: Sam <br>
Update: 31/05/22

### About Dataset
Number of Instances: 150 (50 in each of three classes)
Number of Attributes: 4 numeric, predictive attributes and the class
Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

Missing Attribute Values: None

In [1]:
# Import library
import pandas as pd
import numpy as np

In [2]:
# Read data
data0 = pd.read_csv('iris_data.csv', header=None)

In [3]:
data0.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
col0 = ['slength','swidth','plength','pwidth','label']

In [5]:
data0.columns = col0 # change column name

In [6]:
data0.info() # no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   slength  150 non-null    float64
 1   swidth   150 non-null    float64
 2   plength  150 non-null    float64
 3   pwidth   150 non-null    float64
 4   label    150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
data0.nunique() # Check number of distinct value for numeric attributes

slength    35
swidth     23
plength    43
pwidth     22
label       3
dtype: int64

In [8]:
# Export this dataset for discretization
data0.to_csv('clean_iris.csv',index=False)